# Coding Temple's Data Analytics Course
---
## Python I: Functions, Scoping, Data Collections 1 & List Comprehensions
---

### Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [7]:
#left strip
name = '         hJohn Smith'
print(name.lstrip(" " "h"))

#Remove any empty spaces and the letter h

         hJohn Smith

##### .rstrip()

In [8]:
name = 'Bob Ross      th'
print(name.rstrip(" " "th"))

Bob Ross

##### .strip()

In [16]:
#Does both ^^

name = "         John Smith     af"
print(name.strip(" " "af"))

John Smith

#### .upper()
#### .lower()

In [1]:
president = 'joe biden'
president.upper()
president.lower()

'joe biden'

##### .title()

In [19]:
#Capitalizes first letter of each word
president.title()

'Joe Biden'

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [27]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

#Step 1: Strip access
#Step 2: Capitalize letters
#Step 3: Print

for name in names:
    print(name.strip().title())
    
names_list = []
for name in names:
    names_list.append(name.strip().title())
    
print(names_list)

Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']

### Working With Lists

##### min()

In [28]:
num_list = [4,2,97,54,16]

#min() returns the minimum value of a list:
print(min(num_list))

2

##### max()

In [29]:
print(max(num_list))

97

##### sum()

In [30]:
print(sum(num_list))

173

##### sorted()

In [37]:
#Doesn't change original list
#Function

#sorted(list_object)
print(num_list)

sorted_nums = sorted(num_list)

#f is formatted string
print(f'Before sorting: {num_list}')
print(f'After sorting: {sorted_nums}')

[4, 2, 97, 54, 16]
Before sorting: [4, 2, 97, 54, 16]
After sorting: [2, 4, 16, 54, 97]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [39]:
#Changes original list
#list.sort()
#Method - anything that's attached to a class. String is a class.

num_list.sort()
num_list

[2, 4, 16, 54, 97]

##### Copying a List

In [41]:
# [:] copies a list, does not alter the original list at all
l_1 = num_list[:]
print(l_1)
print(num_list)

[2, 4, 16, 54, 97]
[2, 4, 16, 54, 97]

##### 'in' keyword

In [42]:
ct_teachers = ['Alex', 'Katie', 'Sarah', 'Shay', 'Kevin']

#Use the keyword to check if a name is in a list:
#This is one use-case, but is super useful for all 1-D checks

if 'Whitney' in ct_teachers:
    print("Whitney is now an instructor!")
else:
    print("Whitney is a student!")

Whitney is a student!

James is a student!

##### 'not in' keyword

In [ ]:
if 'James' not in ct_teachers:
    print("James is a student!")

##### Checking an Empty List

In [46]:
l_2 = []

In [51]:
print(not l_2)
if not l_2:
    print("This is an empty list!")

False

##### Removing Instances with a Loop

In [4]:
#While loop, remove statement, or method

names = ['Connor', 'Joel', 'Evan']

#while 'Evan' in names:
    #names.remove('Evan')
#print(names)

for name in names:
    if name == 'Evan':
        names.remove('Evan')
print(names)

['Connor', 'Joel']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [59]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make this easier!

def solution(lst): #variables are placeholders, lst is nothing but a placeholder

    names_dedup = []

    for name in lst:
        if name not in names_dedup:
            names_dedup.append(name)
    return names_dedup
print(solution(names))

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [ ]:
nums = []

for val in range(200):
    if val % 2 == 0:
        nums.append(val ** 2)

print(nums)


# Shorter method:

# List comp syntax
# IN list comp, we have a few different pieces:
# The first is the counter/variable. 
# The next piece, is the iterator. This is typically a for loop
# Conditionals come next!
nums_comp = [val ** 2 for val in range(200) if val % 2 == 0]
print(nums_comp)

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [5]:
nums_comp = [val ** 2 if val % 2 == 0 else 0 for val in range(200)]
nums_comp

[0,
 0,
 4,
 0,
 16,
 0,
 36,
 0,
 64,
 0,
 100,
 0,
 144,
 0,
 196,
 0,
 256,
 0,
 324,
 0,
 400,
 0,
 484,
 0,
 576,
 0,
 676,
 0,
 784,
 0,
 900,
 0,
 1024,
 0,
 1156,
 0,
 1296,
 0,
 1444,
 0,
 1600,
 0,
 1764,
 0,
 1936,
 0,
 2116,
 0,
 2304,
 0,
 2500,
 0,
 2704,
 0,
 2916,
 0,
 3136,
 0,
 3364,
 0,
 3600,
 0,
 3844,
 0,
 4096,
 0,
 4356,
 0,
 4624,
 0,
 4900,
 0,
 5184,
 0,
 5476,
 0,
 5776,
 0,
 6084,
 0,
 6400,
 0,
 6724,
 0,
 7056,
 0,
 7396,
 0,
 7744,
 0,
 8100,
 0,
 8464,
 0,
 8836,
 0,
 9216,
 0,
 9604,
 0,
 10000,
 0,
 10404,
 0,
 10816,
 0,
 11236,
 0,
 11664,
 0,
 12100,
 0,
 12544,
 0,
 12996,
 0,
 13456,
 0,
 13924,
 0,
 14400,
 0,
 14884,
 0,
 15376,
 0,
 15876,
 0,
 16384,
 0,
 16900,
 0,
 17424,
 0,
 17956,
 0,
 18496,
 0,
 19044,
 0,
 19600,
 0,
 20164,
 0,
 20736,
 0,
 21316,
 0,
 21904,
 0,
 22500,
 0,
 23104,
 0,
 23716,
 0,
 24336,
 0,
 24964,
 0,
 25600,
 0,
 26244,
 0,
 26896,
 0,
 27556,
 0,
 28224,
 0,
 28900,
 0,
 29584,
 0,
 30276,
 0,
 30976,
 0,
 31684,
 0,
 32400,
 0,
 33124,
 0,
 33856,
 0,
 34596,
 0,
 35344,
 0,
 36100,
 0,
 36864,
 0,
 37636,
 0,
 38416,
 0,
 39204,
 0]

In [7]:
# String comprehension
names = ['Connor', 'Max', 'Evan', "Rob"]

# For loop version:
# I want to grab each of the first letters of each name in the list:
first_char = []

for name in names:
    first_char.append(name[0])

print(first_char)

# List comprehension:
n = [name[0] for name in names]
print(n)

['Connor', 'Connor', 'Connor', 'Connor']
['C', 'M', 'E', 'R']

In [8]:
c_names_reg = []
for first_name in names:
    if first_name[0] == 'C':
        c_names_reg.append(first_name)
print(c_names_reg)

c_names_comp = [first_name for first_name in names if first_name[0].lower() == 'c']
print(c_names_comp)

['Connor']
['Connor']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [60]:
#Cannot change values in the tuple

tup_1 = 1,2,3 #First way I can create a tuple!
tup_2 = (1,2,3) #Another way to create a tuple!

print(type(tup_1))
print(type(tup_2))

#We can loop over a tuple:
for number in tup_1:
    print(number)
    
#Using the range function:
for number in range(len(tup_2)):
    print(tup_2[number])

<class 'tuple'>
<class 'tuple'>
1
2
3

##### sorted()

In [61]:
tup_3 = (20, 5, 1, 3, 9, 45)
sorted_tup = sorted(tup_3)
print(tuple(sorted_tup))

(1, 3, 5, 9, 20, 45)

##### Adding values to a Tuple

In [64]:
print(tup_1)
tup_1 = tup_1 + (5,) #Comma denotes this is a tuple object
print(tup_1)

(1, 2, 3, 5)
(1, 2, 3, 5, 5)

## Functions

##### User-Defined vs. Built-In Functions

In [65]:
#DEf tells python I am about to DEFINE a function here:
#Function name: After the def keyword, we give life to our function ny naming it!
#Invoking parenthesis: Used after the function call and after the naming of the function.
#Parameters is a fancy word for variables

#USER DEFINED FUNCTION
def say_hello():
    return 'Hello, World!'

#What is going to return from this?
#What we get is the function call in it's memory space

print(say_hello())

Hello, World!

##### Accepting Parameters

In [9]:
#One thing to note, is that order matters. Whatever order you place your variables

def print_full_name(first_name, last_name):
    return f'Hello {first_name}, {last_name}'

print(print_full_name('Alex', 'Lucchesi'))

print(print_full_name(last_name='Lucchesi', first_name='Alex'))

Hello Alex, Lucchesi
Hello Alex, Lucchesi

##### Default Parameters

In [12]:
def print_agent_name(first_name, last_name = 'Bond'):
    return f'The name is... {last_name}... {first_name} {last_name}'

print(print_agent_name('James', '007'))

The name is... 007... James 007

In [68]:
#Type Casting:
def print_age(age: int):
    age = int(age)
    return f'Wow! You are {age} years old! That\'s awesome!'

print(print_age('25'))

Wow! You are 25 years old! That's awesome!

##### Making an Argument Optional

In [14]:
def print_horse_name(first, middle = '', last = 'Ed'):
    return f"Hello {first} {middle} {last}! Good luck in the race today!"

print(print_horse_name('Mr.'))

Hello Mr.  Ed! Good luck in the race today!

##### Keyword Arguments

# Creating a start, stop, step function

In [69]:
def my_range(stop: int, start:int=0, step:int=1):
    for i in range(start, stop, step):
        print(i)
my_range(20, 1)


def my_range(stop: int, start:int=0, step:int=1):
    while start < stop:
        print(start)
my_range(20, 1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Returning Values

In [17]:
#PRINT DOES NOT EQUAL RETURN
#Printing only displays an "output" in your terminal. It does not return any actual objects that are associted with the print() function

def print_args(arg1, arg2):
    return arg1 + arg2

print_args('String', '2').lower()

'string2'

##### *args

In [20]:
# It can take in any argument/arguments as parameters
def print_args(num1, *args, **kwargs):
    print(num1)
    print(args)
    
    
    for arg in args:
        print(arg)
            
    for karg in kwargs:
        print(karg)
    

print_args(36, 'Megazord', 'Mint-Chocolate Chip', 2,3, testing = 'joel')

36
('Megazord', 'Mint-Chocolate Chip', 2, 3)
Megazord
Mint-Chocolate Chip
2
3
testing

##### Docstring

In [ ]:
    """_summary_
    """

##### Using a User Function in a Loop

In [21]:
def print_input(answer:str):
    print(answer)
response = input("Are you ready to quit? Y/N")
while True:
    ask = input("What do you want to do today?")
    print_input(ask)
    
    response = input("Ready to quit yet? Y/N")
    if response.lower() == 'y':
        break

IDK

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [3]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']
# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

def method_1(f,1):
    for index in range(len(first_name)):
        print(first_name[index])

['John', 'Evan', 'Jordan', 'Max', 'Smith', 'Smith', 'Williams', 'Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>