# Coding Temple's Data Analytics Course
---
## Advanced Python Day 4: Intro to Pandas

## Tasks Today:

1) <b>Pandas</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Importing <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Tabular Data Structures <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - from_dict() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - read_csv() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) <b>In-Class Exercise #1</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Accessing Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Indexing <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - df.loc <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - keys() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Slicing a DataFrame <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Built-In Methods <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - head() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - tail() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - shape <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - describe() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - sort_values() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - .columns <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) <b>In-Class Exercise #2</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Filtration <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Conditionals <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subsetting <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Column Transformations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Generating a New Column w/Data <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - User Defined Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Aggregations <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Type of groupby() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - mean() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - groupby() w/Multiple Columns <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - drop_duplicates() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Joins <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - merge() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Breaking Down the Inner Join <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Outer Joins <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Use Case Example <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Rolling Statistics and Time Series w/Pandas <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - read_csv() <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - shift() <br>
 2) <b> SQL </b> <br>
      - Adding DataFrame to Database Table
      - Reading SQL Query Result into DataFrame

## Numpy Random Sampling

In [13]:
import numpy as np

np.random.seed(42) # My random numbers will never change
# A single call generates a single random number
print(f"Here is a random number! {np.random.uniform()}")

# You can also pass in some bounds
print(f'Here is a random number between 1 and 1 million! {np.random.uniform(1,1e6)}')

# You can also generate a bunch of random numbers all at once
print(f'Here is a 3x3 matrix of random numbers between 1 and 1million! \n{np.random.uniform(0,1e6, (3,3))}')

# Instead of floats, lets generate random integers
print(f'Random Ints: {np.random.randint(0,10,4)}')

Here is a random number! 0.3745401188473625
Here is a random number between 1 and 1 million! 950714.3556956097
Here is a 3x3 matrix of random numbers between 1 and 1million!
[[731993.94181141 598658.48419704 156018.64044244]
 [155994.5203362   58083.6121682  866176.14577494]
 [601115.01174321 708072.57779605  20584.4942958 ]]
Random Ints: [1 7 5 1]

## Pandas <br>

<p>Pandas is a flexible data analysis library built on top of NumPy that is excellent for working with tabular data. It is currently the de-facto standard for Python-based data analysis, and fluency in Pandas will do wonders for your productivity and frankly your resume. It is one of the fastest ways of getting from zero to answer in existence. </p>

<ul>
    <li>Pandas is a Python module, written in C. The Pandas module is a high performance, highly efficient, and high level data analysis library. It allows us to work with large sets of data called dataframes.</li>
    <li>Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.)</li>
    <li>Dataframe = Spreadsheet (has column headers, index, etc.)</li>
</ul>

### Importing

In [12]:
# always use pd, standard for data science, pd is an aelias
import pandas as pd

### Tabular data structures <br>
<p>The central object of study in Pandas is the DataFrame, which is a tabular data structure with rows and columns like an excel spreadsheet. The first point of discussion is the creation of dataframes both from native Python dictionaries, and text files through the Pandas I/O system.</p>

In [14]:
names = [
    'Alice', 'Bob',
    'James', 'Beth',
    'John', 'Sally', 
    'Richard', 'Lauren',
    'Brandon', 'Sabrina'
]
ages = np.random.randint(18,35, len(names))

my_personal_dict = {
    'names': names,
    'ages': ages
}
my_personal_dict

{'names': ['Alice',
  'Bob',
  'James',
  'Beth',
  'John',
  'Sally',
  'Richard',
  'Lauren',
  'Brandon',
  'Sabrina'],
 'ages': array([18, 29, 29, 34, 27, 33, 32, 32, 29, 20])}

##### from_dict()

<p>Let's convert our not-so-useful-for-analysis dict into a Pandas dataframe. We can use the from_dict function to do this easily using Pandas:</p>

In [15]:
data = pd.DataFrame.from_dict(my_personal_dict)
data

     names  ages
0    Alice    18
1      Bob    29
2    James    29
3     Beth    34
4     John    27
5    Sally    33
6  Richard    32
7   Lauren    32
8  Brandon    29
9  Sabrina    20

##### read_csv()

In [3]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

marathon = pd.read_csv(r'C:\Users\nargi\Documents\coding temple\data\redsox 2017 hitting.txt')
marathon

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,C,Christian Vazquez,26,99,345,324,43,94,18,...,0.330,0.404,0.735,91,131,14,3,0,1,0
1,2,1B,Mitch Moreland,31,149,576,508,73,125,34,...,0.326,0.443,0.769,99,225,14,6,0,5,6
2,3,2B,Dustin Pedroia,33,105,463,406,46,119,19,...,0.369,0.392,0.760,100,159,11,2,2,4,4
3,4,SS,Xander Bogaerts,24,148,635,571,94,156,32,...,0.343,0.403,0.746,95,230,17,6,0,2,6
4,5,3B,Rafael Devers,20,58,240,222,34,63,14,...,0.338,0.482,0.819,111,107,5,0,0,0,3
5,6,LF,Andrew Benintendi,22,151,658,573,84,155,26,...,0.352,0.424,0.776,102,243,16,6,1,8,7
6,7,CF,Jackie Bradley Jr.,27,133,541,482,58,118,19,...,0.323,0.402,0.726,89,194,8,9,0,2,4
7,8,RF,Mookie Betts,24,153,712,628,101,166,46,...,0.344,0.459,0.803,108,288,9,2,0,5,9
8,9,DH,Hanley Ramirez,33,133,553,496,58,120,24,...,0.320,0.429,0.750,94,213,15,6,0,0,8
9,10,C,Sandy Leon,28,85,301,271,32,61,14,...,0.290,0.354,0.644,68,96,5,1,1,3,1
10,11,UT,Chris Young,33,90,276,243,30,57,12,...,0.322,0.387,0.709,85,94,4,2,0,1,0
11,12,3B,Deven Marrero,26,71,188,171,32,36,9,...,0.259,0.333,0.593,54,57,8,0,3,2,0
12,13,2B,Eduardo Nunez,30,38,173,165,23,53,12,...,0.353,0.539,0.892,128,89,3,2,0,0,0
13,14,2B,Brock Holt,29,64,164,140,20,28,6,...,0.305,0.243,0.548,47,34,3,3,0,2,0
14,15,IF,Josh Rutledge,28,37,118,107,10,24,2,...,0.297,0.262,0.558,49,28,1,2,0,0,0
15,16,3B,Pablo Sandoval,30,32,108,99,10,21,2,...,0.269,0.354,0.622,61,35,4,0,0,1,0
16,17,UT,Sam Travis,23,33,83,76,13,20,6,...,0.325,0.342,0.667,75,26,2,1,0,0,0
17,18,UT,Tzu-Wei Lin,23,25,66,56,7,15,0,...,0.369,0.339,0.709,88,19,0,0,1,0,0
18,19,IF,Marco Hernandez,24,21,60,58,7,16,3,...,0.300,0.328,0.628,65,19,0,1,0,0,0
19,20,UT,Rajai Davis,36,17,38,36,7,9,2,...,0.289,0.306,0.595,56,11,2,1,0,0,0
20,21,UT,Steve Selsky,27,8,9,9,0,1,1,...,0.111,0.222,0.333,-16,2,0,0,0,0,0
21,22,UT,Blake Swihart,25,6,7,5,1,1,0,...,0.429,0.200,0.629,74,1,0,0,0,0,0
22,23,2B,Chase d'Arnaud,30,2,1,1,2,1,0,...,1.000,1.000,2.000,428,1,0,0,0,0,0

### In-Class Exercise #1 - Read in Boston Red Sox Hitting Data <br>
<p>Use the pandas read_csv() method to read in the statistics from the two files yesterday.</p>

In [5]:
bs_2017= pd.read_csv(r'C:\Users\nargi\Documents\coding temple\data\redsox 2017 hitting.txt')
bs_2018 = pd.read_csv(r'C:\Users\nargi\Documents\coding temple\data\redsox 2018 hitting.txt')

display(bs_2017)
display(bs_2018)

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,C,Christian Vazquez,26,99,345,324,43,94,18,...,0.330,0.404,0.735,91,131,14,3,0,1,0
1,2,1B,Mitch Moreland,31,149,576,508,73,125,34,...,0.326,0.443,0.769,99,225,14,6,0,5,6
2,3,2B,Dustin Pedroia,33,105,463,406,46,119,19,...,0.369,0.392,0.760,100,159,11,2,2,4,4
3,4,SS,Xander Bogaerts,24,148,635,571,94,156,32,...,0.343,0.403,0.746,95,230,17,6,0,2,6
4,5,3B,Rafael Devers,20,58,240,222,34,63,14,...,0.338,0.482,0.819,111,107,5,0,0,0,3
5,6,LF,Andrew Benintendi,22,151,658,573,84,155,26,...,0.352,0.424,0.776,102,243,16,6,1,8,7
6,7,CF,Jackie Bradley Jr.,27,133,541,482,58,118,19,...,0.323,0.402,0.726,89,194,8,9,0,2,4
7,8,RF,Mookie Betts,24,153,712,628,101,166,46,...,0.344,0.459,0.803,108,288,9,2,0,5,9
8,9,DH,Hanley Ramirez,33,133,553,496,58,120,24,...,0.320,0.429,0.750,94,213,15,6,0,0,8
9,10,C,Sandy Leon,28,85,301,271,32,61,14,...,0.290,0.354,0.644,68,96,5,1,1,3,1
10,11,UT,Chris Young,33,90,276,243,30,57,12,...,0.322,0.387,0.709,85,94,4,2,0,1,0
11,12,3B,Deven Marrero,26,71,188,171,32,36,9,...,0.259,0.333,0.593,54,57,8,0,3,2,0
12,13,2B,Eduardo Nunez,30,38,173,165,23,53,12,...,0.353,0.539,0.892,128,89,3,2,0,0,0
13,14,2B,Brock Holt,29,64,164,140,20,28,6,...,0.305,0.243,0.548,47,34,3,3,0,2,0
14,15,IF,Josh Rutledge,28,37,118,107,10,24,2,...,0.297,0.262,0.558,49,28,1,2,0,0,0
15,16,3B,Pablo Sandoval,30,32,108,99,10,21,2,...,0.269,0.354,0.622,61,35,4,0,0,1,0
16,17,UT,Sam Travis,23,33,83,76,13,20,6,...,0.325,0.342,0.667,75,26,2,1,0,0,0
17,18,UT,Tzu-Wei Lin,23,25,66,56,7,15,0,...,0.369,0.339,0.709,88,19,0,0,1,0,0
18,19,IF,Marco Hernandez,24,21,60,58,7,16,3,...,0.300,0.328,0.628,65,19,0,1,0,0,0
19,20,UT,Rajai Davis,36,17,38,36,7,9,2,...,0.289,0.306,0.595,56,11,2,1,0,0,0
20,21,UT,Steve Selsky,27,8,9,9,0,1,1,...,0.111,0.222,0.333,-16,2,0,0,0,0,0
21,22,UT,Blake Swihart,25,6,7,5,1,1,0,...,0.429,0.200,0.629,74,1,0,0,0,0,0
22,23,2B,Chase d'Arnaud,30,2,1,1,2,1,0,...,1.000,1.000,2.000,428,1,0,0,0,0,0

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,C,Sandy Leon,29,89,288,265,30,47,12,...,0.232,0.279,0.511,37,74,6,4,3,1,0
1,2,1B,Mitch Moreland,32,124,459,404,57,99,23,...,0.325,0.433,0.758,102,175,12,0,0,5,2
2,3,2B,Eduardo Nunez,31,127,502,480,56,127,23,...,0.289,0.388,0.677,81,186,17,2,1,3,0
3,4,SS,Xander Bogaerts,25,136,580,513,72,148,45,...,0.360,0.522,0.883,135,268,14,6,0,6,4
4,5,3B,Rafael Devers,21,121,490,450,59,108,24,...,0.298,0.433,0.731,94,195,9,0,0,2,6
5,6,LF,Andrew Benintendi,23,148,661,579,103,168,41,...,0.366,0.465,0.830,123,269,9,2,2,7,1
6,7,CF,Jackie Bradley Jr.,28,144,535,474,76,111,33,...,0.314,0.403,0.717,92,191,6,11,0,4,3
7,8,RF,Mookie Betts,25,136,614,520,129,180,47,...,0.438,0.640,1.078,186,333,5,8,0,5,8
8,9,DH,J.D. Martinez,30,150,649,569,111,188,37,...,0.402,0.629,1.031,173,358,19,4,0,7,11
9,10,MI,Brock Holt,30,109,367,321,41,89,18,...,0.362,0.411,0.774,109,132,7,7,0,2,2
10,11,C,Christian Vazquez,27,80,269,251,24,52,10,...,0.257,0.283,0.540,46,71,5,4,1,0,1
11,12,UT,Blake Swihart,26,82,207,192,28,44,10,...,0.285,0.328,0.613,65,63,4,0,0,0,0
12,13,UT,Hanley Ramirez,34,44,195,177,25,45,7,...,0.313,0.395,0.708,90,70,9,2,0,2,0
13,14,1B,Steve Pearce,35,50,165,136,19,38,8,...,0.394,0.507,0.901,141,69,1,5,0,2,0
14,15,2B,Ian Kinsler,36,37,143,132,17,32,6,...,0.294,0.311,0.604,64,41,5,0,0,1,0
15,16,SS,Tzu-Wei Lin,24,37,73,65,15,16,6,...,0.329,0.415,0.744,100,27,0,0,0,0,0
16,17,UT,Sam Travis,24,19,38,36,5,8,3,...,0.263,0.389,0.652,73,14,1,0,0,0,0
17,18,UT,Brandon Phillips,37,9,27,23,4,3,0,...,0.259,0.261,0.520,42,6,1,0,0,0,0
18,19,2B,Dustin Pedroia,34,3,13,11,1,1,0,...,0.231,0.091,0.322,-7,1,0,0,0,0,0
19,20,C,Dan Butler,31,2,7,6,0,1,0,...,0.143,0.167,0.310,-17,1,0,0,0,1,0

### Accessing Data <br>

##### Indexing

<p>You can directly select a column of a dataframe just like you would a dict. The result is a Pandas 'Series' object.</p>

In [29]:
data_ages = data['ages']

In [24]:
# Let's look at the type of the data
# Series
print(type(data['ages']))

<class 'pandas.core.series.Series'>

In [18]:
# DataFrame
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [25]:
#Vector vs Matrix
print(data.shape)
print(data_ages.shape)

(10, 3)
(10,)

In [20]:
# Series Index on the zero based index.
print(data_ages[0])
print(data_ages[3])

18
34

In [21]:
# We can also index into dataframes, which are zero based as well
# We need to point to the dataframe, then the column, then the row number
print(data['ages'][0])
print(data['ages'][3])
#We can change the type of data easily!
print(float(data_ages[0]))

data['age_float'] = data['ages'].astype(float)
data

18
34
18.0

     names  ages  age_float
0    Alice    18       18.0
1      Bob    29       29.0
2    James    29       29.0
3     Beth    34       34.0
4     John    27       27.0
5    Sally    33       33.0
6  Richard    32       32.0
7   Lauren    32       32.0
8  Brandon    29       29.0
9  Sabrina    20       20.0

##### df.loc

Along the horizontal dimension, rows of Pandas DataFrames are Row objects. You will notice there is a third column present in the DataFrame - this is the $\textit{index}$. It is automatically generated as a row number, but can be reassigned to a column of your choice using the DataFrame.set_index(colname) method. We can use it to access particular Pandas $\textit{rows}$, which are also Series objects:

In [ ]:
# Grab the first row of data -- by the index of the row
my_row0 = data.loc[0]
my_row3 = data.loc[3]
print(f'Location of the 0th row in the data: \n{my_row0}')
print(f'\nLocation of the 3rd row in the data: \n{my_row3}')

# Get multiple values from the df.loc
# Multi-level indexing, with nestsed lists
print(data.loc[[0,1,2]][['names', 'age_float']])
print('\n', data.loc[0:2][:])

# Using df.loc and returning a dataframe object.
# Slicing as an easier method
print('\n', data.loc[0:2][:])
print('\n', data[:][:])

# Use df.loc to set a user-defined index
# Multi-level index, with nested lists
new_data = data.loc[[0,1,2]][['names', 'ages']].set_index('names')
print(new_data.index)

# Slicing is always easier
display(data.loc[0:3].set_index('names'))

In [27]:
data.loc[[0,1,2]][['names', 'age_float']]

   names  age_float
0  Alice       18.0
1    Bob       29.0
2  James       29.0

In [31]:
df = data.loc[[0,1,2]][['names', 'ages']].set_index('names')
df

       ages
names
Alice    18
Bob      29
James    29

In [32]:
for val in df.index:
    print(val)

Alice
Bob
James

In [9]:
df = data.set_index('names')
df[df.index == 'Sabrina']

         ages  age_float
names
Sabrina    20       20.0

##### keys()

In [30]:
# Access all of the keys/columns of a dataframe
# df.keys()
print(data.keys())
print(bs_2017.keys())
print(type(bs_2017.keys()))
print(bs_2017.keys().to_list())

Index(['names', 'ages', 'age_float'], dtype='object')
Index(['Rk', 'Pos', 'Name', 'Age', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB',
       'GDP', 'HBP', 'SH', 'SF', 'IBB'],
      dtype='object')
<class 'pandas.core.indexes.base.Index'>
['Rk', 'Pos', 'Name', 'Age', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB', 'GDP', 'HBP', 'SH', 'SF', 'IBB']

##### Slicing a DataFrame

In [22]:
print(f'\n Full DataFrame:\n{data}')
print(f'\n Full DataFrame Sliced Copy: \n{data[:]}')
print(f'\n First row of data: \n{data[:1]}')
print(f'\n Fifth row to end of data: \n{data[5:]}')
print(f'\n 2nd through 5th row: \n{data[2:5]}')

 Full DataFrame:
     names  ages  age_float
0    Alice    18       18.0
1      Bob    29       29.0
2    James    29       29.0
3     Beth    34       34.0
4     John    27       27.0
5    Sally    33       33.0
6  Richard    32       32.0
7   Lauren    32       32.0
8  Brandon    29       29.0
9  Sabrina    20       20.0

 Full DataFrame Sliced Copy:
     names  ages  age_float
0    Alice    18       18.0
1      Bob    29       29.0
2    James    29       29.0
3     Beth    34       34.0
4     John    27       27.0
5    Sally    33       33.0
6  Richard    32       32.0
7   Lauren    32       32.0
8  Brandon    29       29.0
9  Sabrina    20       20.0

 First row of data:
   names  ages  age_float
0  Alice    18       18.0

 Fifth row to end of data:
     names  ages  age_float
5    Sally    33       33.0
6  Richard    32       32.0
7   Lauren    32       32.0
8  Brandon    29       29.0
9  Sabrina    20       20.0

 2nd through 5th row:
   names  ages  age_float
2  James    29       29.0
3   Beth    34       34.0
4   John    27       27.0

### Built-In Methods <br>

<p>These are methods that are frequently used when using Pandas to make your life easier. It is possible to spend a whole week simply exploring the built-in functions supported by DataFrames in Pandas. Here however, we will simply highlight a few ones that might be useful, to give you an idea of what's possible out of the box with Pandas:</p>

##### .head()

In [ ]:
# df.head() -- Accepts an integer parameter to get more rows back
# Default value for the amount of rows returned is 5
display(bs_2017.head())

# Edit default value
display(bs_2017.head(20))

##### .tail()

In [ ]:
# df.tail() -- Accept a integer parameter for more rows displayed
# Default value for tail is 5
# It access the LAST values in a df
display(bs_2017.tail())

# Edit the default value
display(bs_2017.tail(20))

##### .describe()
Probably one of the most important methods to understand. .describe collects all summary statistics in one dataframe object, allowing easy viewing and understanding
Of the count of values, mean, standard deviation, minimum value, maximum value, and inner-quartile ranges

In [ ]:
# df.describe(include, exclude)
# can use on a series object as well!
display(bs_2017['Age'].describe())
bs_2017.describe()

In [ ]:
# .describe has an argument called exclude. We can use this to exclude datatypes
bs_2017.describe(exclude='number')

##### .sort_values()

In [ ]:
# Sorts based on many labels, with left-to-right priority
# df.sort_values('key').
display(data)
display(data.sort_values('names'))

# What if I wanted to reset the index?
display(data.sort_values('ages', ascending=False).reset_index(drop=True))

##### .isnull()

This method applies a boolean mask across the DataFrame object, returning True for any NaN(Null) values and False for all others.

In [ ]:
bs_2017.isnull()

In [ ]:
df['age_float'] = np.nan
df.isnull()

In [ ]:
# Use a .sum() method to sum up all the values for the columns of null values
print(bs_2017.isnull().sum())
print(df.isnull().sum())

##### .nunique()

In [ ]:
# Provides a total of unique values that are present within a dataframe
# Provides a series of values, where the index is the column.
print(bs_2017.nunique())

# Can also call this on a series
# Returns a singular integer value
print(bs_2017['Name'].nunique())

##### .info()

In [ ]:
# .info provide useful information on each column present within the dataframe
# Number of null values, the data types of the column and the number of rows/columns
df.info()

##### .shape

In [ ]:
# Attribute of the dataframe
# A dataframe is nothing more than a class that is built to handle data.
# We call to attributes of that class by using dot notation
print(df.shape)

# The series class has the same attribute and can be accessed in the same way.
print(df['age_float'].shape)

##### .columns

In [ ]:
#.columns is another attribute that we call on a dataframe object
# This will show all the columns in the dataframe.
# df.columns 
print(bs_2017.columns)
print(df.columns)

# What is the type of this data?
print(type(df.columns))

# Another cool thing about columns
# They are all attributes of the dataframe
# That means you call them with dot notation
print(df.ages)

### In-Class Exercise #2 - Describe & Sort Boston Red Sox Hitting Data <br>
<p>Take the data that you read in earlier from the Red Sox csv's and use the describe method to understand the data better. Compare the two years and decide which team is having the better year. Then sort the values based on Batting Average.</p>

In [ ]:
print(f' The difference between 2017 and 2018 total bases is: {sum(bs_2017["TB"]) - sum(bs_2018["TB"])}')
print(f'2018 was a better year for total bases by {sum(bs_2018["TB"]) - sum(bs_2017["TB"])}')

### Filtration <br>
<p>Let's look at how to filter dataframes for rows that fulfill a specific conditon.</p>

##### Conditionals

In [ ]:
# Boolean mask (conditional statement) that returns true or false
conditional = data['ages'] >= 25
data['ages'] >=25

##### Subsetting

In [ ]:
# Exactly like Numpy
display(data[conditional])

# Exactly the same as saying this:
data[data['ages'] >=25]

### Column Transformations <br>
<p>Rarely, if ever, will the columns in the original raw dataframe read from CSV or database table be the ones you actually need for your analysis. You will spend lots of time constantly transforming columns or groups of columns using general computational operations to produce new ones that are functions of the old ones. Pandas has full support for this: Consider the following dataframe containing membership term and renewal number for a group of customers:</p>

In [ ]:
# Generate fake data
np.random.seed(42) # Random seed to keep the data the same
customer_id = np.random.randint(1000,1100,10)
renewal_nbr = np.random.randint(0,10,10)
customer_dict = {1: 0.5, 0: 1}

# Example of feature engineering. We are creating a feature within the data from another source of data
terms_in_years = [customer_dict[key] for key in np.random.randint(0,2,10)]

# Combine them all into a single dictionary object
random_data = {
    'customer_id': customer_id,
    'renewal_nbr': renewal_nbr,
    'term_in_years': terms_in_years
}
customers = pd.DataFrame.from_dict(random_data)
customers

##### Feature Engineering a New Column w/Data

In [ ]:
# Dataframe['column'] = Some calculation done on another column or list of equal length.
customers['customer_tenure'] = customers['renewal_nbr'] * customers['term_in_years']

# Iterates for you
customers['aug_id'] = customers['customer_id'] + 1

customers

In [ ]:
# Example of a column tranformation
customers['renewal_nbr'] = customers['renewal_nbr'].astype(float)
customers

# Another one would be 
customers['customer_id'] = customers['customer_id'].astype(str)
customers.info()

#### Dropping a column

In [ ]:
# Create a duplicate column
customers['customer_id_1'] = customers['customer_id']
display(customers)

# Let's try to drop it!
customers.drop('customer_id_1')

##### Axis? What's That all about?
##### This: 
![atext](https://i.stack.imgur.com/dcoE3.jpg)  
If you check the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html), you'll see that DataFrame.drop() has "axis = 0" as a default. We need to explicitly (remember the Zen of Python?) tell pandas to look for the column we want to drop from the column axis, which is column 1.

In [ ]:
import this

In [ ]:
# Now that we are armed with this info, let's try again!
customers.drop('customer_id_1', axis = 1)

# Let's double check!
customers

# How can fix this?
# Preferred method; save the dataframe object without that column to a new dataframe
df1 = customers.drop('customer_id_1', axis = 1)
display(df1)

# Another method, overwrites the original dataframe object
customers.drop('customer_id_1', axis=1, inplace=True)
customers

#### Renaming a column

In [ ]:
df1.rename(columns = {'aug_id': 'id_augmented'}, inplace=True)
df1.head()

##### User Defined Function

If what you want to do to a column that can't be represented by simple mathematical operations, you can write your own $\textit{user defined function}$ with the full customizability available in Python and any external Python packages, then map it directly onto a column. Let's add some ages to our customer dataframe, and then classify them into our custom defined grouping scheme:

In [ ]:
# Random seed and create the new column for ages
np.random.seed(42)
customers['ages'] = np.random.randint(18,70,10)

# User-defined function
def make_age_groups(age:int):
    if 10<= age < 20:
        return 'Teenager'
    elif age < 35:
        return 'Young Adult'
    elif age < 65:
        return 'Adult'
    else:
        return 'Senior'
    
customers['age_group_apply'] = customers['ages'].apply(make_age_groups)
customers['age_group'] = [make_age_groups(age) for age in customers['ages']]
customers

As a last example I'll show here how you would use an apply function to create a UDF that depends on $\textit{more than one}$ column:
<li>UDF = User Defined Function</li>

In [ ]:
# .apply method contains the axis argument.
# We covered axis above and know that the axis being 0 covers vertically while the axis of 1 covers horizontally
def make_loyalty_age_group(row):
    age = row['ages']
    tenure = row['customer_tenure']
    
    if 10<= age < 20:
        age_group = 'Teenager'
    elif age < 35:
        age_group = 'Young Adult'
    elif age < 65:
        age_group = 'Adult'
    else:
        age_group = 'Senior'
    
    if tenure >2.0:
        make_loyalty_age_group = f'Loyal {age_group}'
    else:
        make_loyalty_age_group = f'New {age_group}'
        
    return make_loyalty_age_group

customers['loyalty_age_group'] = customers.apply(make_loyalty_age_group, axis = 1)
customers

### In-Class Exercise #3 - Create Your Own UDF <br>
<p>Using the Boston Red Sox data, create your own UDF which creates a new column called 'All-Star' and puts every player with either a batting average over .280 or an on base percentage of over .360 with a result of 'Yes' in the column and 'No' if not.</p>

In [ ]:
"""
    Name  BA OBP AllStar
    --------------------
    Name .233 .360 Yes
    Name .150 .288 No
"""
def all_stars(row):
    if row['BA'] > .280 or row['OBP'] > .360:
        return 'Yes'
    else:
        return 'No'
    
bs_2017['all_star'] = bs_2017.apply(all_stars, axis=1)
bs_2017[['Name', 'BA', 'OBP','all_star']]

### Aggregations <br>
<p>The raw data plus some transformations is generally only half the story. Your objective is to extract actual insights and actionable conclusions from the data, and that means reducing it from potentially billions of rows to some summary statistics via aggregation functions.</p>

##### groupby() <br>
<p>The .groupby() function is in some ways a 'master' aggregation.</p> 

<p>Data tables will usually reserve one column as a primary key - that is, a column for which each row has a unique value. This is to facilitate access to the exact rows of a data table that a user wants to view. The other columns will often have repeated values, such as the age groups in the above examples. We can use these columns to explore the data using the Pandas API:</p>

In [ ]:
# Groupby with the column intact as a column/key
# Requires a form of aggregation function to be passed through
display(customers.groupby('age_group').count())

# Use a groupby function to specify which columns we want to return
display(customers.groupby('age_group', as_index=False).count()[['customer_id', 'age_group']])

##### Type of groupby()

<p>The result is a new dataframe, the columns of which all contain the counts of the grouped field. Notice the type of a grouped dataframe:</p>

In [ ]:
print(type(customers), ' -> Regular DataFrame Object')
print(type(customers.groupby('age_group')), ' -> Groupby Object')

<p>This is because simply grouping data doesn't quite make sense without an aggregation function like count() to pair with. In this case, we're counting occurances of the grouped field, but that's not all we can do. We can take averages, standard deviations, mins, maxes and much more! Let's see how this works a bit more:</p>

##### mean()

In [ ]:
display(customers.groupby('age_group').mean())
display(customers.groupby('age_group').mean()[['customer_tenure', 'ages']])

##### groupby() w/Multiple Columns

<p>We end up with the average age of the groups in the last column, the average tenure in the tenure column, and so on and so forth. You can even split the groups more finely by passing a list of columns to group by:</p>

In [ ]:
# Multi-level index, population, subpopulations in that overall population.
customers.groupby(['age_group', 'ages']).mean().sort_values('ages', ascending=False)

##### drop_duplicates()

<p>Drops all duplicates from the current dataframe</p>

In [ ]:
customers

In [ ]:
customer_copy = customers.drop_duplicates('renewal_nbr').reset_index(drop=True)
customer_copy

In [ ]:
# What if I wanted to save the data to a file?
customer_copy.to_csv('customers.csv')

<p>Thus the groupby operation allows you to rapidly make summary observations about the state of your entire dataset at flexible granularity. In one line above, we actually did something very complicated - that's the power of the dataframe. In fact, the process often consists of several iterative groupby operations, each revealing greater insight than the last - if you don't know where to start with a dataset, try a bunch of groupbys!</p>

### Joins <br>
<p>Very often you will have to combine data from several different sources to obtain the actual dataset you need for your exploration or modeling. Pandas draws heavily on SQL in its API design for joins, and if you are familiar with SQL joins, then Pandas will come naturally. Imagine you have two tables, one with customer name and gender, and the other with their purchases:</p>

In [ ]:
# Generate some fake data
city_data = {
    1: 'Chicago',
    2: 'Boston',
    3: 'San Francisco',
    4: 'New York',
    5: 'Washington D.C.'
}
# Creating an ages array with 100 values between 18-64
ages = np.random.randint(18,65,100)

# Create the city list using list comprehension
# Generate 100 values between 1-5 which then correspond to the keys of our dict
city = [city_data[num] for num in np.random.randint(1,6,100)]

# Create a customer_id array
customer_id = np.arange(1000,1100)

print(ages, city, customer_id)

Let's assume we have a dataset containing the customer ID's cities, and ages for a set of customers. Suppose further, that we have a second table, containing some customer ID's, and a feedback survey rating from those customers. 

Suppose finally, that you as an analyst are asked the following question: What city tends to give the best feedback for our product? We'll need a join operation to get the answer.

In [ ]:
# Create a DataFrame object
customer_demographics = pd.DataFrame.from_dict({
    'ages': ages,
    'city': city,
    'customer_id': customer_id
})

customer_demographics

In [ ]:
# Generate MORE fake data
customer_id_2 = np.random.randint(1000,1200,100)
customer_rating = np.random.randint(1,11,100)

# Create the dataframe object
surveys = pd.DataFrame.from_dict({
    'customer_id' : customer_id_2,
    'customer_rating': customer_rating
})

surveys

#### merge()

* Bringing columns together by linking on a variable.

* Similar to SQL there are four types of merges or joins.  We'll focus on the inner join today.

![joins.png]()
<p>We can zip the two dataframes up with an inner join, using the Pandas library as follows:</p>

In [ ]:
# One way to merge
demo_ratings = customer_demographics.merge(surveys, on = 'customer_id', how = 'inner')

display(demo_ratings.head())
#Another way to merge
pd.merge(customer_demographics, surveys, how='inner', on = 'customer_id')

In [ ]:
print(len(demo_ratings))
# View the duplicated rows before removing
print(demo_ratings[demo_ratings['customer_id'].duplicated() == True])

# Drop all duplicate values from dataframe object
# Reset the index and keep it from creating an index column
demo_ratings_dropped = demo_ratings.drop_duplicates(subset='customer_id').reset_index(drop=True)


print(len(demo_ratings_dropped))
print(demo_ratings[demo_ratings.index == 4])
print(f'The number of rows dropped between both frames was: {len(demo_ratings) - len(demo_ratings_dropped)}')

**.join() method**

In [ ]:
# Merge is used to join data together using your columns.
# join() is used to combine two DataFrame objects on the index, but not the columns.
# join() has greater functionality. It can be used to join on indicies
# and a combination of index and columns. 

# Only way to go about join()
demo_surveys_join = customer_demographics.join(other = surveys.set_index('customer_id'), on='customer_id', how= 'inner')
demo_surveys_join

<p>Now it's a simple groupby operation to reveal the answer:</p>

In [ ]:
# Group by operation
city_ages_rating = demo_ratings_dropped.groupby('city', as_index=False).mean().round(2)[['city', 'ages', 'customer_rating']]
city_ages_rating

But what if we didn't drop the customer_id duplicates...would we get the same city result??

In [ ]:
demo_ratings.groupby('city', as_index=False).mean().round(2)[['city', 'ages', 'customer_rating']]

What would be the total mean for the US customers?

In [ ]:
city_ratings_mean = demo_ratings_dropped.groupby('city').mean()

city_ratings_mean

##### Breaking Down the Inner Join <br>
<p>Let's take a closer look at the actual mechanics here however. There is some subtlety and nuance that is best understood by thinking of an inner join as two steps: a cartesian product, and then a filter. Observe the result of the following inner join:</p>

In [ ]:
d = {
    'A': [1,2,3,4],
    'B' : ['a','b','c','d']
}
df = pd.DataFrame.from_dict(d)

df

In [ ]:
d2 = {
    'A' : [1,2,6,2],
    'C' : ['e', 'f', 'g','h']
}
df2 = pd.DataFrame.from_dict(d2)

df2

Let's try to merge these two together using panda's build in merge function!

In [ ]:
df.merge(df2, on ='A', how = 'inner')

Somehow, we ended up with more rows in the result than either of the original tables! This is because we joined on a $\textit{non-unique index}$. The join starts by computing all the possible combinations of rows, and then filters them based on the condition. Because of the duplicates, multiple combinations of rows make it through!

### Outer Joins <br>
An $\textit{outer join}$ produces all of the rows from the left table, and joins whatever rows it can to the right table, filling anywhere it cant with NaN's or None values. Below is a brief example, and then we will discuss a possible use case for this type of join.

In [ ]:
df3 = pd.DataFrame.from_dict({
    'A': [1,2,3],
    'B' : ['a','b','c']
})

df4 = pd.DataFrame.from_dict({
    'A': [1],
    'C': ['d']
})

In [ ]:
display(df3)
display(df4)

In [ ]:
# Left join merge
df3.merge(df4, on ='A', how = 'left')

In [ ]:
# Right join merge
df3.merge(df4, on = 'A', how = 'right')

In [ ]:
# Outer merge
df3.merge(df4, on = 'A', how='outer')

Concatenation stacks two dataframe objects on top of each other, like lego blocks! This method fills any missing values from each dataframe with NaN values. This method combines elements completely together, elongating the DataFrame object.

This differs from merge a little because it is used to stack objects vertically or horizontally, using the `axis =` argument.
When we concatenate along the verticle axis, the objects are stacked one below the other. When we concatenate along the horizontal axis, the objects are combined column-wise!

In [ ]:
df4 = pd.DataFrame({
    'A': [1,2],
    'B' : [3,4],
})

df5 = pd.DataFrame({
    'A' : [5,6],
    'B' : [7,8],
    'C' : [9,10]
})
display(pd.concat([df4,df5]))
display(pd.concat([df4,df5]).reset_index(drop=True))

### In-Class Exercise 4:
Create two DataFrame objects with random data. Each should contain 4 columns and 10 rows. Practice using the `.merge()` function and the `.concat()` function on these two DataFrame objects.

In [ ]:
# YOUR CODE HERE

##### Use Case Example

<p>As an example use case, let's imagine we have again the demographics and survey response tables from above:</p>

In [ ]:
display(customer_demographics.head())
display(surveys.head())

In [ ]:
print(demo_ratings.shape)
print(customer_demographics.shape)
print(surveys.shape)

<p>Now, you are asked as an analyst to compare the demographics of survey responders to the demographics of all your customers combined.</p>

In [ ]:
demo_ratings_outer = customer_demographics.merge(surveys, on='customer_id', how='outer')

# There are a bunch of different ways we can go about filling null values. 
# When do I fill these values vs dropping them? And if I fill them, how do fill them?
demo_ratings_outer['customer_rating'] = demo_ratings_outer['customer_rating'].fillna(demo_ratings_outer['customer_rating'].mean())
demo_ratings_outer.head()

In [ ]:
# Let's take a look at the number of null values present in our dataset
print(demo_ratings_outer.isna().sum())
print(f'This is is the shape before dropping any null values: {demo_ratings_outer.shape}')

# Drop null values
test = demo_ratings_outer.dropna()
print(f'\nShape after the drop: {test.shape}')
print(test.isnull().sum())
print(f'The shape of the inner merge is: {demo_ratings.shape}')

In [ ]:
test.head(20)

In [ ]:
# Count all survey responders against the total number of customers we have 
# (Specifically the customers that haven't taken the survey yet)
demo_size = demo_ratings_outer.groupby(['city', 'customer_rating']).size()
# display(demo_size)
print(type(demo_size))

# Producing similar result with .count()
demo_count = demo_ratings_outer.groupby(['city', 'customer_rating']).count()
# display(demo_count)
print(type(demo_count))

In [ ]:
# Average age of people that answered the survey
survey_answered = demo_ratings_outer[demo_ratings_outer['customer_rating'] != demo_ratings_outer['customer_rating'].mean()]
# print(survey_answered)

# What was the number of surveys that went unanswered?
print(f'The total number of surveys that went unanswered is equal to: {len(demo_ratings_outer) - len(survey_answered)}')
print(f'The total number of surveys that were answered is equal to: {abs(len(survey_answered) - len(demo_ratings_outer))}')

# Average age of people that answered the survey
print(f'The average age of all survey correspondants was equal to: {round(survey_answered["ages"].mean(), 2)}')

In [ ]:
# The average age of people that did NOT answer answer our survey:
print(f"The average age of people that did not answer the survey is equal to: {round(demo_ratings_outer[demo_ratings_outer['customer_rating'] == 5.32].mean(numeric_only=True)['ages'],2)}")

### Rolling Statistics and Time Series with Pandas

In [ ]:
# Read in the data
weather = pd.read_csv(r'C:\Users\Alex Lucchesi\coding-temple\coding_temple_data_analytics_ft\week-4\student_notebooks\chiweather.csv', sep=';')

In [ ]:
weather.head(10)

In [ ]:
weather_update = weather.groupby(['Year', 'Month', 'Day']).mean().reset_index()
display(weather_update)
len(weather_update)

##### shift() <br>
<p>Shift index by desired number of periods with an optional time freq</p>

In [ ]:
# Print all my columns to make this easier on me!
print(weather_update.columns)
# print(weather_update.keys())

# Shift index by 1 to create a last temperature column.
weather_update['last_temp'] = weather_update['Temperature  [2 m above gnd]'].shift(1)
# View the dataframe object!
weather_update

In [ ]:
# Create a new column that takes the difference in temperature from the previous day as an absolute value
# Change the null value for the firt value in the new difference column:
weather_update['difference'] = abs(weather_update['last_temp'] - weather_update['Temperature  [2 m above gnd]'])
weather_update.fillna(0)

#### **Turn a DataFrame into a Database**

In [ ]:
# databaselanguage(postgresql)://user:password@url:port/database_name
connection = 'postgresql://xkkrjjhn:zmyX6vqpfA_cHJAcmI9mo7iuObuZD7nJ@mahmud.db.elephantsql.com/xkkrjjhn'

In [ ]:
# Fill in null values before uploading to database
weather_update.fillna(0, inplace=True)

In [ ]:
weather_update.columns

In [ ]:
# Import some types from sql alchemy
from sqlalchemy.types import Integer, Text, String, DateTime, Float

# Write the dataframe object to a database
# .to_sql() is a built in pandas method to help us do this. We will specify the schema, structure of the database. 
# Pandas is cool and can also infer the schema based on column types
weather_update.to_sql(
    'chicago_weather', index=False, con = connection, if_exists='append', schema='public',
    chunksize=500, dtype={
        'year': String,
        'month': String,
        'day':String,
        'minute': String,
        'Temperature [2m above ground]': Float,
        'Total Precipitation [sfc]' : Float,
        'Wind Speed [10m above gnd]' : Float,
        'last_temp': Float,
        'difference' : Float
    }
)

In [ ]:
pd.read_sql_table('chicago_weather', con = connection)