# Coding Temple's Data Analytics Program
---
## MySQL Python Connector

### Part 1: Installs
To begin with, we will need to install the mysql connector. Sometimes, we will also be required to make another pip install to ensure the module works properly

In [ ]:
# Pip installs
# If you need to run these installs, just uncomment each
!python -m pip install mysql-connector-python

# May sometimes need this installed as well in order for mysql to properly communicate with your program
!python -m pip install mysqlclient

In [1]:
# Import statements
import mysql.connector
from os import getenv
from dotenv import load_dotenv

## Part 2: Interacting with a MySQL Database
In order to work with our database, we will want to use the import from above and connect to the mysql server. Once we are connected, we will create a cursory object and loop through each database:

### Create the Connection

In [2]:
# Connect to MySQL server. User, password, host are all required arguments
# Use our .env file to load all these in as environment variables
load_dotenv(r'C:\Users\Alex Lucchesi\coding-temple\coding_temple_data_analytics_ft\week-5\MySQL\.env')
user = getenv('USER')
password = getenv('PASSWORD')
host = getenv('HOST')

# Now, let's create our connection:
mydb = mysql.connector.connect(user=user, password=password, host=host)

# Now I can create my cursor object
cur = mydb.cursor()

# Search my connection for all database schemas present within the connection
cur.execute('SHOW DATABASES')

# Dive through the cursor, and gather all the database info:
for x in cur:
    print(x)

# Close the connection
# cur.close()

('bonfire_124_schema',)
('bonfire_129',)
('bonfire_129_mysql_connector',)
('ct_bonfire',)
('dvd_rentals',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

### Create Schema

Now that we have verified our connection and looked at the available database schemas we can work with, we need to interact with one of these specific schema. Let's create one now to use together:

In [ ]:
cur.execute('CREATE SCHEMA IF NOT EXISTS bonfire_129_mysql_connector')

Let's verify that the new schema has been added to our database:

In [ ]:
cur.execute('SHOW DATABASES')
for x in cur:
    print(x)
    
cur.close()

### Connect to DataBase

Perfect! Looks like this now exists within our databases. Let's connect to it now

In [3]:
database = getenv('DATABASE')
mydb = mysql.connector.connect(user=user, password=password, host=host, database=database)

# Creeate the cursor object again:
cur = mydb.cursor()

# View the tables in the current schema:
cur.execute('SHOW TABLES')
for x in cur:
    print(x)

('sales',)

### Create Tables

Since we just created this schema, we would have no tables present within it. So, we will making them in Python!

In [ ]:
# Using the cursor object, we execute a sql command:
cur.execute('CREATE TABLE IF NOT EXISTS sales (purchase_id INT, movie_title VARCHAR(500), purchase_total NUMERIC(10,2))')

# Commit the changes made by us to the database
# If we don't do this, our changes willl not save!!!
mydb.commit()

### Insert Data

Great. We have successfully created a table using MySQL in Python! Now, our next step is to insert data into this table.

In [4]:
cur.execute('INSERT INTO sales VALUES(01, "Hocus Pocus", 17.99)')
cur.execute('INSERT INTO sales VALUES(02, "Die Hard", 22.99)')
cur.execute('INSERT INTO sales VALUES(03, "Kung Fu Panda", 12.99)')

In [5]:
mydb.commit()

In [6]:
cur.execute('''SELECT * FROM sales''')
for x in cur:
    print(x)

(1, 'Hocus Pocus', Decimal('17.99'))
(2, 'Die Hard', Decimal('22.99'))
(3, 'Kung Fu Panda', Decimal('12.99'))

In [7]:
# Add in a quantity column? Create it as a type of integer
cur.execute("ALTER TABLE sales ADD quantity INT")
mydb.commit()

# Verify my alteration has been completed
cur.execute('SELECT * FROM sales')
for x in cur:
    print(x)

(1, 'Hocus Pocus', Decimal('17.99'), None)
(2, 'Die Hard', Decimal('22.99'), None)
(3, 'Kung Fu Panda', Decimal('12.99'), None)

In [8]:
# Add in a quantity column? Create it as a type of integer
cur.execute("ALTER TABLE sales DROP quantity")
mydb.commit()

# Verify my alteration has been completed
cur.execute('SELECT * FROM sales')
for x in cur:
    print(x)

(1, 'Hocus Pocus', Decimal('17.99'))
(2, 'Die Hard', Decimal('22.99'))
(3, 'Kung Fu Panda', Decimal('12.99'))

### Building it into a Class

How can we take the things we have learned about and transform them into a functional object that can be inserted into a program or a pipeline?

Let's build a class out of it!

In [12]:
class MySQLCon:
    def __init__(self):
        self.__con = mysql.connector.connect(user='Alex', password='Batman123', host='127.0.0.1', database='bonfire_129_mysql_connector')
        self.__cur = self.__con.cursor()
        
    def execute_command(self, sql_command):
        self.__cur.execute(sql_command)
        self.__con.commit()
        
    
    def show_info(self, sql_command):
        self.__cur.execute(sql_command)
        for x in self.__cur:
            yield x
        self.__con.close()
c = MySQLCon()
c.execute_command('CREATE TABLE IF NOT EXISTS students(student_id INT, class VARCHAR(100), grade VARCHAR(5))')

In [13]:
for x in c.show_info('SHOW TABLES'):
    print(x)

('sales',)
('students',)