# Python Ladder Challenges - Part 2

# Climb the Ladder!
Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section IV: Conditionals and Loops

1) Print out the numbers 1 through 10.

In [ ]:
for number in range (1,11):
  print(number)

1
2
3
4
5
6
7
8
9
10

2) Print out the odd numbers between 1 and 20 by using the third paramter to the `range()` function.

In [ ]:
for number in range (1,21, 2):
  print(number)

1
3
5
7
9
11
13
15
17
19

3) Print out the odd numbers between 1 and 20 by checking if the number is even before printing.

In [ ]:
for number in range(1, 21):
  if number % 2 != 0:
    print(number)

1
3
5
7
9
11
13
15
17
19

4) What is the sum of the first 100 integers? Hint: Create a variable `total` equal to zero, and increment `total` inside a loop.

In [ ]:
total = 0

for i in range(1, 101):
  total += i

print(total)

5050

5) For each friend in your `friends` list, print `'PERSON IS AWESOME!'` in all caps, where `PERSON` is of course replaced with your friend's name.

In [ ]:
# Make sure you run this cell!

friends = ["Alice", "Bob", "Charlie", "Debbie"]

In [ ]:
for friend in friends:
  print(friend.upper() + " IS AWESOME!")

ALICE IS AWESOME!
BOB IS AWESOME!
CHARLIE IS AWESOME!
DEBBIE IS AWESOME!

6) Similar to the last problem, print `'PERSON IS AWESOME!'` for each friend in your friends list _only if their name ends in a vowel_. Otherwise, print `"person is ok..."` (all lowercase).

In [ ]:
for friend in friends:
  if

# Section V: Dictionaries

Dictionaries can get really big and really complicated, like the one below. You might think this is excessive, but it's very common. This is a very efficient way to store complicated data that don't fit neatly in a spreadsheet. In fact, dictionaries are the data type used by most web APIs! We'll need to parse big dictionaries to get data from the internet!

In [ ]:
# Make sure to run this cell!

authors = {
    "J.R.R. Tolkien": {
        "genre": "fantasy",
        "books": [
            "The Fellowship of the Ring",
            "The Two Towers",
            "The Return of the King"
        ],
        "active": False
    },
    "Brandon Sanderson": {
        "genre": "fantasy",
        "books": [
            "The Way of Kings",
            "Words of Radiance",
            "Oathbringer"
        ],
        "active": True,
        "phone": {
            "home": "(281) 330-8004",
            "work": "(877) CASH-NOW"
        }
    },
    "Frank Herbert": {
        "genre": "science fiction",
        "books": ["Dune"],
        "phone": None,
        "active": False
    }
}

1) Get Tokien's second book

2) I need to call Brandon Sanderson about an idea for a screenplay. Can you get me his work number?

3)  Create a dictionary called `my_favorites` with the following keys:


* `name`
* `favorite_movie`
* `favorite_band`
* `favorite_book`

Make sure to fill the keys in with whatever's true for you!

# Section VI: Functions
In this section, every question gives example(s). You can (but don't need to) name your function accordingly. You _should_ test out the example to make sure your function works properly. If the example doesn't work, your answer is likely incorrect.

1) Write a function to print “hello_USERNAME!” where USERNAME is the input of the function.

*   _Example:_ `greeting("CT4lyfe") == "hello_CT4lyfe!"`

2) Write a Python function called `max_num_in_list` that returns the max number of a given list.

*   _Example:_ `max_num_in_list([1, 8, -2, 4, 20]) == 20`

3) Write a function to check to see if all numbers in the list are consecutive numbers. For example, `[2,3,4,5,6,7]` are consecutive numbers, but `[1,2,4,5]` are not consecutive numbers. The return should be boolean Type.

*   _Example:_ `consecutive_num([1,2,4,5]) == False`



4) Write a function to compute the area of a triangle. You only need the base and height of a triangle to compute its area.

* _Example:_ `area_triangle(5, 4) == 10.0`

5) Write a function that takes a number (a person's height) and returns "Tall enough" if they are at least 5 feet (60 inches) or "Too short" if they are below 5 feet.
* _Example:_ `is_tall(72) == 'Tall enough'`
* _Example:_ `is_tall(52) == 'Too short'`

6) Write a function that takes in a numeric grade (0 to 100) and returns the letter grade (no pluses or minuses). In a traditional rubric, that would be as follows:

* 90 or above = A
* 80 - 89 = B
* 70 - 79 = C
* 60 - 69 = D
* 59 or below = F
    
    
* _Example:_ `letter_grade(85) == 'B'`

7) Write a function that takes in a string and returns the number of vowels in that string. (No, y is not a vowel).
* _Example:_ `vowel_count('Coding Temple') == 4`

8) Write a function that takes in a string and returns that string with its consonants capitalized and vowels lowercased.

* _Example:_ `toggle_case('Coding Temple') == 'CoDiNG TeMPLe'`

9) Write a function that takes in a string and returns that string with its vowels removed.
* _Example:_ `disemvowel('Python is my favorite language') == 'Pythn s my fvrt lngg'`