## Dictionary Practice w/ Katie!

Dictionaries can get really big and really complicated, like the one below. You might think this is excessive, but it's very common. This is a very efficient way to store complicated data that don't fit neatly in a spreadsheet. In fact, dictionaries are the data type used by most web APIs! We'll need to parse big dictionaries to get data from the internet!

In [3]:

authors = {
    "J.R.R. Tolkien": {
        "genre": "fantasy",
        "books": [
            "The Fellowship of the Ring",
            "The Two Towers",
            "The Return of the King"
        ],
        "active": False
    },
    "Brandon Sanderson": {
        "genre": "fantasy",
        "books": [
            "The Way of Kings",
            "Words of Radiance",
            "Oathbringer"
        ],
        "active": True,
        "phone": {
            "home": "(281) 330-8004",
            "work": "(877) CASH-NOW"
        }
    },
    "Frank Herbert": {
        "genre": "science fiction",
        "books": ["Dune"],
        "phone": None,
        "active": False
    }
}

In [5]:
# Exercise 1: Get me Tokien's second book
authors["J.R.R. Tolkien"]["books"][1]

'The Two Towers'

In [10]:
# Exercise 2: I need to call Brandon Sanderson about an idea for a screenplay. Can you get me his work number?
authors["Brandon Sanderson"]["phone"]["work"]

'(877) CASH-NOW'

Here we have a dictionary of heights in inches. Create a list of the names and ONLY the names of the people who are tall enough to ride the roller coaster (they must be at least 60 inches tall).

In [19]:
people = {
    'Aaron': 58,
    'Barbara': 66,
    'Clarence': 62,
    'Donovan': 55,
    'Erika': 70,
    'Fernando': 72
}

In [20]:
# Exercise 3: Create a list of the names and ONLY the names of the 
# people who are tall enough to ride the roller coaster.

#Method #1 - For loop 
# 
tall_enough_names = []

#iterate the dictionary

for name, height in people.items():
    if height >= 60:
        tall_enough_names.append(name)
        
tall_enough_names

['Barbara', 'Clarence', 'Erika', 'Fernando']

In [21]:
x, y = 10, 50

x+y

60

In [22]:
#Under the hood - scrap paper
for name, height in people.items():
    print(f"{name} {height}")

Aaron 58
Barbara 66
Clarence 62
Donovan 55
Erika 70
Fernando 72

In [23]:
# List comp if feeling ~fancy~

tall_enough_names = [name for name, height in people.items() if height >= 60]
tall_enough_names

['Barbara', 'Clarence', 'Erika', 'Fernando']