In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv(r'https://raw.githubusercontent.com/lucchesia7/coding-temple-da-sql-day-1/main/day_1/data/titanic.csv')
titanic.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses_Aboard,Parents/Children_Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
titanic.columns = titanic.columns.str.lower().str.replace(' ', '_').str.replace('/', '_')

In [4]:
connection = 'postgresql://nmqlktgb:gwvXnF-bavIXr-Io88sZBC4_63_W6vE9@peanut.db.elephantsql.com/nmqlktgb'

In [5]:
titanic.to_sql('titanic', con = connection, if_exists = 'fail')

ModuleNotFoundError: No module named 'psycopg2'