SQL NOTES

Create & Insert

```sql 
CREATE TABLE books (id INTEGER PRIMARY KEY, name TEXT, rating INTEGER);

INSERT INTO books VALUES(1, "Don't Be Sad", 5);
INSERT INTO books VALUES(2, "You Can Be The Happiest Woman In The World", 5);

SELECT * FROM books
```

Rows & Columns

Rows are records. Columns are fields.

Left, Right, Inner, Outer

Left/Right join returns all data that is in the corresponding side as well as
any that match between it and opposing side.

Inner returns all data that matches between both tables.

Outer returns all data.