# Coding Temple's Data Analytics Course
---
## Python I: Functions, Scoping, Data Collections 1 & List Comprehensions
---

### Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [1]:
name = '          hJohn Smith'
print(name.lstrip(" " "h"))

John Smith

##### .rstrip()

In [2]:
name = 'Bob Ross     th'

print(name.rstrip(" ""th"))

Bob Ross

##### .strip()

In [6]:
name = "         John Smith        af"
print(name.strip(" ""af"))

John Smith

#### .upper()
#### .lower()

In [8]:
president = 'joe biden'

upper_pres = president.upper()
print(upper_pres)

lower_pres = president.lower()
print(lower_pres)

JOE BIDEN
joe biden

##### .title()

In [9]:
president.title()

'Joe Biden'

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [14]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

# Step 1: Strip spaces
# Step 2: Capitalize letters
# Step 3: Print
names_list = []
for name in names:
    names_list.append(name.strip().title())

print(names_list)
names_list[0]

['Connor', 'Max', 'Evan', 'Jordan']

'Connor'

### Working With Lists

##### min()

In [15]:
num_list = [4,2,97,54,16]

#min() returns the minimum value of a list:
print(min(num_list))

2

##### max()

In [16]:
print(max(num_list))

97

##### sum()

In [17]:
sum(num_list)

173

##### sorted()

In [19]:
# sorted(list_object)
print(num_list)

sorted_nums = sorted(num_list)

print(f'Before sorting: {num_list}')
print(f'After sorting: {sorted_nums}')

[4, 2, 97, 54, 16]
Before sorting: [4, 2, 97, 54, 16]
After sorting: [2, 4, 16, 54, 97]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [21]:
# list.sort()
num_list.sort()
num_list

[2, 4, 16, 54, 97]

##### Copying a List

In [22]:
# [:] copies a list, does not alter the original list at all
l_1 = num_list[:]
print(l_1)
print(num_list)

[2, 4, 16, 54, 97]
[2, 4, 16, 54, 97]

##### 'in' keyword

In [23]:
ct_teachers = ['Alex', 'Katie', 'Sarah', 'Shay', 'Kevin']

# Use the in keyword to check if a name is in a list:
# This is one use-case, but is super useful for all 1-D checks
if 'Whitney' in ct_teachers:
    print("Whitney is now an Instructor!")
else:
    print("Whitney is a student!")

Whitney is a student!

In [24]:
if 'James' not in ct_teachers:
    print("James is a student!")

James is a student!

##### 'not in' keyword

##### Checking an Empty List

In [36]:
l_2 = []

In [37]:
if not l_2:
    print(l_2)

['Alex']

##### Removing Instances with a Loop

In [39]:
# While loop, remove statement, or method

names = ['Conner', 'Joel', 'Evan', 'Max', 'Rob', 'Evan']

while 'Evan' in names:
    names.remove('Evan')
print(names)

for name in names:
    if name == 'Evan':
        names.remove('Evan')
print(names)

['Conner', 'Joel', 'Max', 'Rob']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [46]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make this easier!
# lst = ??????
def solution(lst):
    # Make empty list
    names_copy = []

    # For loop:
    for name in lst:
        if name not in names_copy:
            names_copy.append(name)
    return names_copy

print(solution(names))

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [49]:
# Number comprehension:
# With a regular loop:
nums = []

for val in range(200):
    if val % 2 == 0:
        nums.append(val ** 2)

print(nums)


# Shorter method:

# List comp syntax
# IN list comp, we have a few different pieces:
# The first is the counter/variable. 
# The next piece, is the iterator. This is typically a for loop
# Conditionals come next!
nums_comp = [val ** 2 for val in range(200) if val % 2 == 0]
print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000, 10404, 10816, 11236, 11664, 12100, 12544, 12996, 13456, 13924, 14400, 14884, 15376, 15876, 16384, 16900, 17424, 17956, 18496, 19044, 19600, 20164, 20736, 21316, 21904, 22500, 23104, 23716, 24336, 24964, 25600, 26244, 26896, 27556, 28224, 28900, 29584, 30276, 30976, 31684, 32400, 33124, 33856, 34596, 35344, 36100, 36864, 37636, 38416, 39204]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [52]:
nums_comp = [val ** 2 if val % 2 == 0 else 0 for val in range(200)]
nums_comp

[0,
 0,
 4,
 0,
 16,
 0,
 36,
 0,
 64,
 0,
 100,
 0,
 144,
 0,
 196,
 0,
 256,
 0,
 324,
 0,
 400,
 0,
 484,
 0,
 576,
 0,
 676,
 0,
 784,
 0,
 900,
 0,
 1024,
 0,
 1156,
 0,
 1296,
 0,
 1444,
 0,
 1600,
 0,
 1764,
 0,
 1936,
 0,
 2116,
 0,
 2304,
 0,
 2500,
 0,
 2704,
 0,
 2916,
 0,
 3136,
 0,
 3364,
 0,
 3600,
 0,
 3844,
 0,
 4096,
 0,
 4356,
 0,
 4624,
 0,
 4900,
 0,
 5184,
 0,
 5476,
 0,
 5776,
 0,
 6084,
 0,
 6400,
 0,
 6724,
 0,
 7056,
 0,
 7396,
 0,
 7744,
 0,
 8100,
 0,
 8464,
 0,
 8836,
 0,
 9216,
 0,
 9604,
 0,
 10000,
 0,
 10404,
 0,
 10816,
 0,
 11236,
 0,
 11664,
 0,
 12100,
 0,
 12544,
 0,
 12996,
 0,
 13456,
 0,
 13924,
 0,
 14400,
 0,
 14884,
 0,
 15376,
 0,
 15876,
 0,
 16384,
 0,
 16900,
 0,
 17424,
 0,
 17956,
 0,
 18496,
 0,
 19044,
 0,
 19600,
 0,
 20164,
 0,
 20736,
 0,
 21316,
 0,
 21904,
 0,
 22500,
 0,
 23104,
 0,
 23716,
 0,
 24336,
 0,
 24964,
 0,
 25600,
 0,
 26244,
 0,
 26896,
 0,
 27556,
 0,
 28224,
 0,
 28900,
 0,
 29584,
 0,
 30276,
 0,
 30976,
 0,
 31684,
 0,
 32400,
 0,
 33124,
 0,
 33856,
 0,
 34596,
 0,
 35344,
 0,
 36100,
 0,
 36864,
 0,
 37636,
 0,
 38416,
 0,
 39204,
 0]

In [55]:
# String comprehension
names = ['Connor', 'Max', 'Evan', "Rob"]

# For loop version:
# I want to grab each of the first letters of each name in the list:
first_char = []

for name in names:
    first_char.append(name[0])

print(first_char)

# List comprehension:
n = [name[0] for name in names]
print(n)

['C', 'M', 'E', 'R']
['C', 'M', 'E', 'R']

In [58]:
# Using the 'if' statement
# Grab each name if it starts with the letter 'C'

# For loop:
c_names_reg = []
for first_name in names:
    if first_name[0] == 'C':
        c_names_reg.append(first_name)
print(c_names_reg)

c_names_comp = [first_name for first_name in names if first_name[0].lower() == 'c']
print(c_names_comp)

['Connor']
['Connor']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [61]:
tup_1 = 1,2,3 # First way I can create a tuple!
tup_2 = (1,2,3) # Another way to create a tuple!

print(type(tup_1))
print(type(tup_2))

# We can loop over a tuple:
for number in tup_1:
    print(number)
    
# Using the range function:
for number in range(len(tup_2)):
    print(tup_2[number])

<class 'tuple'>
<class 'tuple'>
1
2
3
1
2
3

##### sorted()

In [63]:
tup_3 = (20,5,1,3,9,45)
sorted_tup = sorted(tup_3)
print(tuple(sorted_tup))

(1, 3, 5, 9, 20, 45)

##### Adding values to a Tuple

In [68]:
print(tup_1)
tup_1 = tup_1 + (5,)
print(tup_1)

(1, 2, 3, 5)
(1, 2, 3, 5, 5)

## Functions

In [69]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

##### User-Defined vs. Built-In Functions

In [72]:
# DEF tells python I am about to DEFINE a function here:
# function name: After the def keyword, we give life to our function by naming it!
# Invoking parenthesis: Used after the function call and after the naming of a function. Inside them, go any parameters we want to take into account for our function
# Parameters is a fancy word for variables.

# USER DEFINED FUNCTION
def say_hello():
    return 'Hello, World!'

# What is going to return from this?
# What we get is the function call in it's memory space
print(say_hello)

print(say_hello())

<function say_hello at 0x0000024624CF71A0>
Hello, World!

##### Accepting Parameters

In [75]:
# One thing to note, is that order matters. Whatever order you place your variables in, you should expect your user to enter in the same order!

def print_full_name(first_name, last_name):
    return f'Hello {first_name}, {last_name}'

print(print_full_name('Alex', 'Lucchesi'))

print(print_full_name(last_name='Lucchesi', first_name='Alex'))

Hello Alex, Lucchesi
Hello Alex, Lucchesi

##### Default Parameters

In [77]:
def print_agent_name(first_name, last_name = 'Bond'):
    return f'The name is... {last_name}... {first_name} {last_name}'

print(print_agent_name('James', '007'))

The name is... 007... James 007

In [80]:
# Type Casting:
def print_age(age: int):
    age = int(age)
    return f'Wow! You are {age} years old! That\'s awesome!'

print(print_age('25'))

Wow! You are 25 years old! That's awesome!

##### Making an Argument Optional

In [81]:
def print_horse_name(first, middle = '', last = 'Ed'):
    return f"Hello {first} {middle} {last}! Good luck in the race today!"

print(print_horse_name('Mr.'))

Hello Mr.  Ed! Good luck in the race today!

##### Keyword Arguments

# Creating a start, stop, step function

In [83]:
def my_range(stop: int, start:int =0, step:int =1):
    while start < stop:
        print(start)
        start += step
my_range(20,1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Returning Values

In [86]:
# PRINT DOES NOT EQUAL RETURN
# Printing only displays an "output" in your terminal. It does not return any actual objects that are associated with the print() function.

def print_args(arg1, arg2):
    return arg1 + arg2

print_args('String', '2').lower()

'string2'

##### *args

In [87]:
# It can take in any argument/arguments as parameters
def print_args(num1, *args, **kwargs):
    list_of_args = ['Megazord', 'Charzard', 'Coding Temple']
    print(num1)
    print(args)
    
    
    for arg in args:
        if arg in list_of_args:
            
        
    for karg in kwargs:
        print(karg)
    

print_args(36, 'Megazord', 'Mint-Chocolate Chip', 2,3, testing = 'joel')

36
('Megazord', 'Mint-Chocolate Chip', 2, 3)
Megazord
Mint-Chocolate Chip
2
3
testing

##### Docstring

In [89]:
def print_names(l_1):
    
    """
        Function name: print_names
        Input: List object, containing strings of names
        Output: Print each name in the list given.
        
        How does it work?: Function requires a list to be passed into it, then iterates through the list, printing each name out when completed.
    """
    for name in l_1:
        print(name)
        
help(print_names)

Help on function print_names in module __main__:

print_names(l_1)
    Function name: print_names
    Input: List object, containing strings of names
    Output: Print each name in the list given.

    How does it work?: Function requires a list to be passed into it, then iterates through the list, printing each name out when completed.

##### Using a User Function in a Loop

In [90]:
def print_input(answer:str):
    print(answer)
    
    
response = input('Are you ready to quit? Y/N')

while True:
    ask = input('What do you want to do today?')
    print_input(ask)
    
    response = input("Ready to quit yet? Y/N")
    if response.lower() == 'y':
        break

Teach people how to work in Python!

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [ ]:
# HINT: zip()

In [98]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

# Method 1: Utilizes base python, with no additional functionality:
def method_1(f, l):
    n = []
    for index in range(len(f)):
        n.append(f[index] + ' ' + l[index])
    return n
print(method_1(first_name, last_name))


# Method 2: Refactor into a single line of code, but better functionality:
def method_2(f,l):
    n = []
    for first, last in zip(f,l):
        n.append(first + ' ' + last)
    print(n)

method_2(first_name, last_name)

def method_2_refac(f,l):
    return [first + ' ' + last for first, last in zip(f,l)]

print(method_2_refac(first_name, last_name))

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']
['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']
['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [7]:
num = 3 # Global Variable

def funkytown():
    print(num) # Referencing the Global variable, or the global scope!
    num_new = 6# Localized Varible. This is now associated with my function and can only be accessed within the scope of that function
    print(num_new)
funkytown()

3
6

In [25]:


def add_list(l):
    
    for val in range(10):
        l.append(val)
        
add_list(l)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]