# Coding Temple's Data Analytics Course
---
## Python I: Variable Assignment, Loops, Lists
---

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
# Name the variable first:
number = 6
number

6

##### Assinging float

In [2]:
number_float = 2.3
number_float

2.3

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num_1 = 2
num_2 = 5.4

# This is one way in which we can perform addition to two different numbers in Python
result = num_1 + num_2
print(result)

# There is also a Pythonic way of doing this:
result = 0
result += num_2 # EXACT SAME THING as saying result = result + num_2
print(result)

7.4
12.8

##### Subtraction

In [6]:
# Subtraction uses the (-) operand
result_diff = num_2 - num_1
print(result_diff)


# Pythonic version:
result_diff -= 1 # result_diff = result_difference - 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [8]:
result_mult = num_1 * num_2
print(result_mult)
# Pythonic version:
result_mult *= 2
print(result_mult)

10.8
21.6

##### Division

In [9]:
result_div = num_2 / num_1
print(result_div)

# Pythonic Method:
result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [11]:
result_floor = num_2 // num_1

# Pythonic Method:
result_floor //= 2
print(result_floor)

1.0

##### Modulo

In [12]:
result_mod = num_2 % num_1
print(result_mod)

1.4000000000000004

##### Exponential

In [14]:
squared = 5 ** 2
print(squared)

# Python Method: 
squared **= 2
print(squared)

25
625

### String Input-Output

##### String Assignment

In [19]:
name = 'Alex'
print(name)

Alex

##### print() <br>
<p>Don't forget about end=' '</p>

In [24]:
print("This is my first name:", name)
print("Full Name:", name , end=' \n')

This is my first name: Alex
Full Name: Alex

##### String Concatenation

In [28]:
first_name = 'John'
last_name = 'Smith'

full_name = first_name +' ' + last_name
print(full_name)

#Pythonic Method
full_name += " Jr."
full_name

John Smith

'John Smith Jr.'

##### Type Conversion

In [33]:
number = '32'
change_type_num = int(number)
print(number)
print(change_type_num)

print(str(change_type_num + 23))

32
32
55

##### input()

In [37]:
# Input is a function. What this function does is asks for input in the terminal:
name = input('What is your name?')
print(name)

# Important thing to note: 
# Input always outputs a string object!
age = int(input('What is your age?'))
print(type(age))

Alex
<class 'int'>

##### format()

In [40]:
age = int(input('What is your age? '))
result_str = "You are {} {} and you are getting wiser!".format(age, name)
print(result_str)

# The f-string:
result_again = f'{age} is a great time in life!'
print(result_again)

You are 42 Alex and you are getting wiser!
42 is a great time in life!

##### Old Way (python 2)

In [42]:
result_str_2 = 'You are %s and you look great for your age!' %age
result_str_2

'You are 42 and you look great for your age!'

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
# Uses input function to ask for color, year, make, and model of vehicle.
# Then, you will use a .format() or f-string to print those values back to your user.

### If Statements

In [50]:
# Available operands: >, <, ==, >=, <=
# & is the same as the and keyword
# | is the same as the or keyword
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num_1 = 5
num_2 = 10

if num_2 == num_1:
    print('Equal Values')
else:
    print('Not Equal')
    
if num_2 > num_1 & num_1 < 20:
    print('Low Number')
    
if num_2 > num_1 | num_1 < 20:
    print('Low Number with or statement')

Not Equal
Low Number
Low Number with or statement

##### 'is' keyword

In [51]:
# Used when we check if something is the same/similar to an object. 
num_3 = 55

if num_3 is 55:
    print("This is the exact number/object")

This is the exact number/object

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Alex Lucchesi\AppData\Local\Temp\ipykernel_42712\1834286534.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num_3 is 55:

##### 'in' keyword

In [56]:
char_name = 'Max Payne'

if 'a' in char_name:
    print('The character that lost everything')

The character that lost everything

##### 'not in' keyword'

In [57]:
char_list = [char_name, 'Sonic', 'Tails', 'Knuckles']
name = input('Character name:')
if name not in char_list:
    print(f'The character named {name} is not present in this list')
else:
    print(f'Here is the character you asked for: {name}')

Here is the character you asked for: Sonic

# In-Class Exercise 2 <br>
<p>Ask a user for input, check to see if the letter 'p' is in the input</p>

In [63]:
# city = input("What city do you live in?")

# if 'p' in city.lower():
#     print(True)
# else:
#     print(False)
    
    
# Function:
def city_p(city):
    return 'p' in city.lower()

city_p('Philly')

True

## Using 'and'/'or' with If Statements

In [66]:
num_1 = 15
num_2 = 3
num_3 = 10
num_4 = 3

# If with "and" statement
if num_1 / 5 == num_2 and num_3 -7 == num_4:
    print("True and True")

# These are the same thing!
if num_1 / 5 == num_2 & num_3 -7 == num_4:
    print("True and True")
    

# If with "or" statement
if num_1 > num_2 or num_3 == num_4:
    print("True and False")
    
# These are the same thing!

if num_1 > num_2 | num_3 == num_4:
    print("True and False")

True and True
True and True
True and False

### Elif Statements

In [67]:
first_name = 'Alex'

# Step 1: Checks first condtional
if first_name == 'Katie':
    # Does this if first cond met
    print("Your name is Katie")

# Step 2: If the first is not met, check this one next
elif first_name != 'Alex':
    # Do this if this cond is met
    print("Your name is NOT Alex!")

# Otherwise, do this:
else:
    print("The name is Alex")

The name is Alex

### Else Statements

In [ ]:
# See above

### For Loops

In [72]:
# Iterables: An iterable is anything that can be parsed over in smaller chunks. For example, we can break a word down into individual letters.
# We break a list of words down to each individual word

name = 'Alex Lucchesi'

# One method of looping: This gives back the values associated with the object you are iterating through
for letter in char_list:
    print(letter)
    
# Another method of a for loop looks over a RANGE of values, to access index positions and gather back values that way:
for index_position in range(len(char_list)):
    print(char_list[index_position])

Max Payne
Sonic
Tails
Knuckles
Max Payne
Sonic
Tails
Knuckles

##### Continue Statement

In [74]:
# Continues to the next iteration, bypassing any other values or actions in which you would want to take:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [76]:
# Will break out of the current loop it is present in:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# Mostly used as a placeholder and will continue onto the same iteration:
for i in name:
    pass # TODO: COME BACK AND FINISH IMPLEMENTATION

def replace_rows_in_database(info):
    # TODO: Write out a function that can replace rows in DB
    pass

##### Double For Loops

In [77]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [78]:
# While keyword, conditional statement
# Based on that cond statment, the loop will either continue or stop
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [80]:
game_over = False

while True:
    print("Infinite Loop")
    
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [81]:
num = 0

while num < 5:
    print("\nWhile Loop Iteration #:", num)
    
    for i in range(2):
        print('For Loop Iteration #:', i)
    
    num += 1

While Loop Iteration #: 0
For Loop Iteration #: 0
For Loop Iteration #: 1

While Loop Iteration #: 1
For Loop Iteration #: 0
For Loop Iteration #: 1

While Loop Iteration #: 2
For Loop Iteration #: 0
For Loop Iteration #: 1

While Loop Iteration #: 3
For Loop Iteration #: 0
For Loop Iteration #: 1

While Loop Iteration #: 4
For Loop Iteration #: 0
For Loop Iteration #: 1

### Built-In Functions

##### range()

In [82]:
# Start, stop, step

# The start is infered as the value of 0, the step is infered as the value of 1
# So, from 0 to your defined stopping point(non-inclusive), at a step size, or increase of 1 value per iteration:

# range(5) -> [0,1,2,3,4] 
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [85]:
name_length = len(name)

char_list_len = len(char_list)
print(char_list_len)

4

##### help()

In [86]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [88]:
# isinstance(var, type)
isinstance(4.5, int)

if isinstance(4.5, float):
    print("This number is definitely a floating point value")

This number is definitely a floating point value

##### abs()

In [89]:
# | 5 | - > 5
# | -5 | -> 5

abs(-5)

5

### Try and Except

In [93]:
try:
    number_test = 0
    input_num = int(input('Guess a Number!'))
    if input_num != number_test:
        input_num = input_num + number_test
        print('Your number is:' + str(input_num))
except:
    print("Oh man! That did not work... ERROR: Change your input value to a number!")

Oh man! That did not work... ERROR: Change your input value to a number!

### Lists

##### Declaring Lists

In [94]:
# 1-D data structure. 1-D means that there is a magnitude, or a caliber of existence on the X-axis, however, there is no y.
# Declare an empty list using square brackets:
l_1 = []

# Alternatively, I can declare a list using the list() function:
l_2 = list()

names = ['Alex', 'Andy', 'Randall', 'Katie','Kali']
print(names)

['Alex', 'Andy', 'Randall', 'Katie', 'Kali']

##### Indexing a List

In [99]:
# [start:stop:step]

# Single Index -- Very first value:
print(names[0])

# Print all the names in the list starting with the second name (index position 1) and all the way to the end of the list:
print(names[1:])

# Print all names starting at the beginning of the list and going up until N (n == the number we want to stop at)
print(names[:2])

# Print all names starting at the 1 index position and increase the index by two every time?
print(names[1::2])

# Print all names in reverse order:
print(names[::-1])

Alex
['Andy', 'Randall', 'Katie', 'Kali']
['Alex', 'Andy']
['Andy', 'Katie']
['Kali', 'Katie', 'Randall', 'Andy', 'Alex']

##### .append()

In [101]:
names.append('Lee')
print(names)

['Alex', 'Andy', 'Randall', 'Katie', 'Kali', 'Lee']

##### .insert()

In [103]:
names.sort()
names.insert(2, 'James')
names

['Alex', 'Andy', 'James', 'Kali', 'Katie', 'Lee', 'Randall']

##### .pop()

In [104]:
# Default to removing the last value if the parenthesis are left empty
# Pop also returns the removed value! So you can save it to a variable if you wanted:

removed_name = names.pop(4)
print(removed_name)
print(names)

Katie
['Alex', 'Andy', 'James', 'Kali', 'Lee', 'Randall']


##### .remove()

In [111]:
# By default, .remove() removes only the first instance of the value you give it. 
# Values to be removed, not index positions!

# Remove all my multiples out of this list:
while 'bob' in names:
    names.remove('bob')
    
names

['Alex', 'Andy', 'James', 'Kali', 'Lee', 'Randall']

##### del()

In [112]:
del(names[1])
print(names)

['Alex', 'James', 'Kali', 'Lee', 'Randall']

In [113]:
names[1]

'James'

##### Concatenating Two Lists

In [114]:
l_2 = [0,1,2]
l_3 = [3,4,5]

l_2 + l_3

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [120]:
# Lists are able to house any and all data types at one time. This includes other data stores. Other lists, other dictionaries, sets, etc.
# These can nest as deep as you want. 
names = ['Max', 23, 2.85366543, ['Sally', 28, 2.56974984635, ['Takamodo']]]
print(names)
print(names[3][3][0])

['Max', 23, 2.85366543, ['Sally', 28, 2.56974984635, ['Takamodo']]]
Takamodo

##### Looping Through Lists

In [122]:
# We can loop through using the two methods we learned earlier: Index position, the values

# Loop through with a index accessor:
for index in range(len(names)):
    print(names[index])
    
# Loop through with for loop, accessing each value individually:
for value in names:
    print(value)

Max
23
2.85366543
['Sally', 28, 2.56974984635, ['Takamodo']]
Max
23
2.85366543
['Sally', 28, 2.56974984635, ['Takamodo']]