# Coding Temple's Data Analytics Course
---
## Python I: Variable Assignment, Loops, Lists
---

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [44]:
#Name the variable first:

number = 6
number

6

##### Assinging float

In [45]:
number_float = 2.3
number_float

2.3

#### Performing Calculations on ints and floats

##### Addition

In [46]:
num_1 = 2
num_2 = 5.4

result = num_1 + num_2
print(result)

#Pythonic way:
result += num_2 # EXACT SAME THING as saying result = result + num_2
print(result)

7.4
12.8

##### Subtraction

In [47]:
result_diff = num_2 - num_1
print(result_diff)

result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [48]:
result_mult = num_1 * num_2
print(result_mult)

result_mult += 2
print(result_mult)

10.8
12.8

##### Division

In [49]:
result_div = num_2 / num_1
print(result_div) 

result_div /=2
print(result_div)

2.7
1.35

##### Floor Division

In [50]:
result_floor = num_2 // num_1

result_floor //=2
print(result_floor)

1.0

##### Modulo

In [51]:
result_mod = num_2 % num_1
print(result_mod)

1.4000000000000004

##### Exponential

In [52]:
squared = 5**2
print(squared)

#Pythonic version:
squared **=2
print(squared)

25
625

### String Input-Output

##### String Assignment

In [53]:
#name = 'This is Python. It\'s great'
#print(name)

name = 'Nargis'

##### print() <br>
<p>Don't forget about end=' '</p>

In [54]:
#print("This is my first name:", name)

print("This is my first name:", name)
print("Full name:", name, end = ' Akhter')

This is my first name: Nargis
Full name: Nargis Akhter

##### String Concatenation

In [55]:
first_name = 'John'
last_name = 'Smith'

full_name = first_name + ' ' + last_name
print(full_name)

#Pythonic method
full_name += " Jr."
full_name

John Smith

'John Smith Jr.'

##### Type Conversion

In [56]:
number = '32'
change_type_num = int(number)
print(number)
print(change_type_num)

print(type(number))
print(str(change_type_num + 23))

32
32
<class 'str'>
55

##### input()

In [57]:
#Input is a function. What this function does is ask for input in the terminal:

name = input('What is your name?')
print(name)

#Important thing to note:
#Input always outputs a string object!
age = input('What is your age?').format(age, name)
print((age))

NameError: name 'age' is not defined

format()

In [ ]:
age = input("What is your age?")
result_str = "You are {} {} and you are getting wiser!".format(age, name)
print(result_str)

result_str_

You are 23 Nargis and you are getting wiser!

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
# Uses input function to ask for color, year, make, and model of vehicle.
# Then, you will use a .format() or f-string to print those values back to your user.

vehicle_color = input("What is the color of your vehicle?")
vehicle_year = input("What is the year of your vehicle?")
vehicle_make = input("What is the make of your vehicle?")
vehicle_model = input("What is the model of your vehicle?")

result_str = f"The color of your car is {vehicle_color}. The year of your car is {vehicle_year}. The make of your car is {vehicle_make}. The model of your car is {vehicle_model}."
print(result_str)

The color of your car is black. The year of your car is 2012. The make of your car is honda. The model of your car is civic.

### If Statements

In [ ]:
#Available operands: >, <, ==, >=, <=

#Truth Three:
#T && F = F always returns false
#T && T = T
#T || F = T
#F || F = F

num_1 = 5
num_2 = 10

if num_2 == num_1:
    print('Equal Values')
else: 
    print('Not Equal')
    
if num_2 > num_1 and num_1 < 20:
    print('Low Number')
    
if num_2 > num_1 | num_1 < 20:
    print()

Not Equal
Low Number

##### 'is' keyword

In [ ]:
#Used when we check if something is the same/similar to an object.
num_3 = 55

if num_3 is 55:
    print("This is the exact number/object")

This is the exact number/object

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\nargi\AppData\Local\Temp\ipykernel_16596\2953768761.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num_3 is 55:

##### 'in' keyword

In [ ]:
char_name = 'Max Payne'

if 'Max' in char_name:
    print('The character that lost everything')

The character that lost everything

##### 'not in' keyword'

In [ ]:
char_list = [char_name, 'Sonic', 'Tails', 'Knuckles']
name = input('Character name:')
if name not in char_list:
    print(f'The character named {name} is not present in this list')
else:
    print(f'Here is the character you asked for: {name}')

The character named  is not present in this list

# In-Class Exercise 2 <br>
<p>Ask a user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
user_input = input("What is your name?")

if 'p' in user_input:
    print("Congrats! 'p' is in your name.")
else:
    print("Oops. 'p' is not in your name.")
    
    
def city_p(city):
    return 'p' in city.lower()

city_p('Philly')

Oops. 'p' is not in your name.

True

## Using 'and'/'or' with If Statements

In [ ]:
num_1 = 15
num_2 = 3
num_3 = 10
num_4 = 3

#If with "and" statement
if num_1 / 5 == num_2 and num_3 - 7 == num_4:
    print("True and True")
    
#These are the same thing
if num_

### Elif Statements

In [ ]:

first_name = 'Alex'

#Step 1: Checks first conditional
if first_name == 'Katie':
    # Does this if first conditional met
    print("Your name is Katie")

#Step 2: 
elif first_name != 'Alex':
    #Do this if this conditional is met
    print("Your name is NOT Alex!")
    
#Otherwise, do this: 
else:

SyntaxError: incomplete input (155534768.py, line 15)

### Else Statements

In [ ]:
# See above

### For Loops

In [ ]:
#Iterables: An iterable is anything that can be parsed over in smaller chunks. For example, we can break a word down into individual letters.
#We break a list of words down to each individual word

name = 'Alex Luchessi'

for letter in name:
    print(letter)

#Another method of a for loop looks over a RANGE of values, to access index positions and gather back values that way:
for index_position in range(len(char_list)):
    print(name[index_position])

A
l
e
x

L
u
c
h
e
s
s
i
A
l
e
x

##### Continue Statement

In [ ]:
#Continues to the next iteration, bypassing any other values or actions in which you would want to take:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:

for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
#Mostly used as a placeholder and will continue onto the same iteration:
for i in name:
    pass #TODO: COME BACK AND FINISH IMPLEMENTATION
    print(i)

A
l
e
x

L
u
c
h
e
s
s
i

##### Double For Loops

In [ ]:
for i in range(5):
    for j in range(5):
        print('i =', i, 'j = ', j)

i = 0 j =  0
i = 0 j =  1
i = 0 j =  2
i = 0 j =  3
i = 0 j =  4
i = 1 j =  0
i = 1 j =  1
i = 1 j =  2
i = 1 j =  3
i = 1 j =  4
i = 2 j =  0
i = 2 j =  1
i = 2 j =  2
i = 2 j =  3
i = 2 j =  4
i = 3 j =  0
i = 3 j =  1
i = 3 j =  2
i = 3 j =  3
i = 3 j =  4
i = 4 j =  0
i = 4 j =  1
i = 4 j =  2
i = 4 j =  3
i = 4 j =  4

### While Loops

In [ ]:
#While keyboard, conditional statement
#Based on that conditional statement, the loop will either continue or stop

num = 0
while num < 10: 
    print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
game_over = False

while True:
    print("Infinite Loop")
    
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [ ]:
num = 0

while num < 5:
    print("\nWhile Loop Iteration #:", num)
    
    for i in range(2):
        print('For Loop Iteration')

### Built-In Functions

##### range()

In [ ]:
#Start, stop, step

#The start is inferred at the value of 0, the step is inferred as the value of 1

for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [ ]:
name_length = len(name)

char_list_len = len(char_list)
print(char_list_len)

13

##### help()

In [ ]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [ ]:
# isinstance(var, type)
isinstance(4.5, int)

if isinstance(4.5, float):
    print("This number is definitely a floating point value")

This number is definitely a floating point value

##### abs()

In [ ]:
#absolute value

abs(-5)

5

### Try and Except

### Lists

##### Declaring Lists

In [ ]:
#1 - D data structure. 1-D means that there is a magnitude, or a caliber of existence on the X-axis, however, there is no y.
#Declare an empty list using square barackets:
1_1 = []

#Alternatively, I can declare a list using the list(function)

##### Indexing a List

In [ ]:
#[start:stop:step]

#Single Index -- Very first value:
print(names[0])

print(names[1:])

print(names[:2])

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

In [ ]:
#Lists are able to house any and all data types at one time. This includes other data stores. Other lists, other dictionaries, sets, etc.

Suppose you are processing the results of a health test. The test is scored from 0 to 100, where 100 is perfect health.

If the person's health is above 70, print something encouraging. Otherwise, print "Go to the doctor, now!"

Say hello to each name in the list!

In [ ]:
names = ['Alex', 'Katie', 'Tommy', 'Kevin', 'Shay']

for name in names:
    #Goal: "Hello, {name}"
    print(f"Hello, {name}!")

Hello, Alex!
Hello, Katie!
Hello, Tommy!
Hello, Kevin!
Hello, Shay!

ONLY say hello to the names that start with K

In [58]:
my_name = 'Katie'
my_name[0]

'K'

In [60]:
for name in names:
    if name[0] == 'K':
        print(f"Hello, {name}")

Hello, Katie
Hello, Kevin

Write a loop that prints all of the numbers between 10 and 20 (inclusive).

In [63]:
#common to use i when using range
for i in range(10, 21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

Write a loop that prints all of the EVEN numbers between 10 and 20 (inclusive).

In [69]:
#Method #1
for i in range(10, 21, 2):
    print(i)
    
#Method #2
for i in range(10, 21):
    if i % 2 == 0:
        print(i)

10
12
14
16
18
20
10
12
14
16
18
20