# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidence to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

In [35]:
import pandas as pd

In [36]:
ab_nyc_2019 = pd.read_csv(r'C:\Users\nargi\Documents\coding temple\week 3\python day 5\AB_NYC_2019.csv')
display(ab_nyc_2019)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [37]:
display(ab_nyc_2019.describe())

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [38]:
ab_nyc_2019.dropna(subset = ['last_review'],inplace=True)
ab_nyc_2019.isna().sum()

id                                 0
name                               6
host_id                            0
host_name                         16
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [39]:
# Which hosts are the busiest and why?
busiest_host = ab_nyc_2019[ab_nyc_2019['availability_365'] < 1]
display(busiest_host)

display(busiest_host.isnull())

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
20,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46532,35292625,Room-cabin in Hell's kitchen,137191484,Maria,Manhattan,Hell's Kitchen,40.76479,-73.98667,Private room,86,1,1,2019-06-05,0.88,5,0
46583,35329913,Charming Brooklyn Garden apt - historic Macdon...,46724430,Mariana,Brooklyn,Bedford-Stuyvesant,40.68364,-73.92307,Entire home/apt,125,3,1,2019-07-01,1.00,1,0
47175,35615687,Duplex Apartment 3 bedroom 2 bath (6 guest),145082728,Jason & Kelly,Brooklyn,Bedford-Stuyvesant,40.68091,-73.95006,Entire home/apt,350,2,1,2019-06-30,1.00,2,0
47218,35642891,Beautiful room in Bushwick,268138154,Julio,Brooklyn,Bushwick,40.69640,-73.91898,Private room,10,1,2,2019-06-18,2.00,1,0
47614,35832547,Big 1 Bedroom located in Union Square,95000637,Mike,Manhattan,Gramercy,40.73592,-73.98993,Entire home/apt,295,2,1,2019-07-01,1.00,1,0

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46532,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
46583,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
47175,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
47218,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
47614,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [40]:
# How many neighborhood groups are available and which shows up the most?
ab_nyc_2019.groupby(['neighbourhood_group']).count()

#Manhattan shows up the most

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,,,,,,
Bronx,876,876,876,875,876,876,876,876,876,876,876,876,876,876,876
Brooklyn,16447,16445,16447,16441,16447,16447,16447,16447,16447,16447,16447,16447,16447,16447,16447
Manhattan,16632,16628,16632,16625,16632,16632,16632,16632,16632,16632,16632,16632,16632,16632,16632
Queens,4574,4574,4574,4572,4574,4574,4574,4574,4574,4574,4574,4574,4574,4574,4574
Staten Island,314,314,314,314,314,314,314,314,314,314,314,314,314,314,314

In [41]:
ab_nyc_2019.groupby(['neighbourhood_group']).count().sort_values(['neighbourhood_group'], ascending=True)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,,,,,,
Bronx,876,876,876,875,876,876,876,876,876,876,876,876,876,876,876
Brooklyn,16447,16445,16447,16441,16447,16447,16447,16447,16447,16447,16447,16447,16447,16447,16447
Manhattan,16632,16628,16632,16625,16632,16632,16632,16632,16632,16632,16632,16632,16632,16632,16632
Queens,4574,4574,4574,4572,4574,4574,4574,4574,4574,4574,4574,4574,4574,4574,4574
Staten Island,314,314,314,314,314,314,314,314,314,314,314,314,314,314,314

In [76]:
# Are private rooms the most popular in manhattan?
ab_nyc_2019.groupby(['neighbourhood_group', 'room_type']).count().sort_values(['neighbourhood_group'])['calculated_host_listings_count']

#No, Brooklyn has the most popular private rooms

neighbourhood_group  room_type
Bronx                Entire home/apt     309
                     Private room        524
                     Shared room          43
Brooklyn             Entire home/apt    8164
                     Private room       7993
                     Shared room         290
Manhattan            Entire home/apt    9967
                     Private room       6309
                     Shared room         356
Queens               Entire home/apt    1742
                     Private room       2680
                     Shared room         152
Staten Island        Entire home/apt     150
                     Private room        159
                     Shared room           5
Name: calculated_host_listings_count, dtype: int64

In [43]:
#Which neighorhood group has the highest average price?
display(ab_nyc_2019.groupby('neighbourhood_group').mean('price').round(2))

#Manhattan has the highest average price - $180.05 per night

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,
Bronx,21458028.21,1.007616e+08,40.85,-73.88,79.55,3.93,32.39,1.84,2.20,170.94
Brooklyn,17538709.32,5.469297e+07,40.68,-73.95,121.45,5.32,29.58,1.28,2.23,105.88
Manhattan,17674795.89,6.326809e+07,40.77,-73.97,180.05,7.01,27.33,1.27,8.77,109.32
Queens,20788083.32,9.282430e+07,40.73,-73.87,95.76,4.22,34.31,1.94,3.35,150.51
Staten Island,21059228.03,9.740580e+07,40.61,-74.10,89.96,3.42,36.75,1.87,2.39,205.64

In [58]:
# Which neighbor hood group has the highest total price?
display(ab_nyc_2019.groupby('neighbourhood_group').max('price'))

#Brooklyn, Mahattan, and Queens

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,
Bronx,36442252,273841667,40.91306,-73.78158,800,186,321,10.34,13,365
Brooklyn,36455809,272327753,40.73890,-73.85676,10000,999,488,14.00,103,365
Manhattan,36425863,273361532,40.87665,-73.90855,9999,1250,607,58.50,327,365
Queens,36427429,272872092,40.79721,-73.71299,10000,500,629,20.94,103,365
Staten Island,36438336,272557707,40.64779,-74.06356,625,33,333,10.12,8,365

In [49]:
#Which top 5 hosts have the highest total price?
ab_nyc_2019.sort_values('price', ascending=False).head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
17692,13894339,Luxury 1 bedroom apt. -stunning Manhattan views,5143901,Erin,Brooklyn,Greenpoint,40.73260,-73.95739,Entire home/apt,10000,5,5,2017-07-27,0.16,1,0
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.76810,-73.91651,Private room,10000,100,2,2016-02-13,0.04,1,0
6530,4737930,Spanish Harlem Apt,1235070,Olson,Manhattan,East Harlem,40.79264,-73.93898,Entire home/apt,9999,5,1,2015-01-02,0.02,1,0
12342,9528920,"Quiet, Clean, Lit @ LES & Chinatown",3906464,Amy,Manhattan,Lower East Side,40.71355,-73.98507,Private room,9999,99,6,2016-01-01,0.14,1,83
30268,23377410,Beautiful/Spacious 1 bed luxury flat-TriBeCa/Soho,18128455,Rum,Manhattan,Tribeca,40.72197,-74.00633,Entire home/apt,8500,30,2,2018-09-18,0.18,1,251

In [73]:
# Who currently has no (zero) availability with a review count of 100 or more?

zero_availability = busiest_host[busiest_host['number_of_reviews'] >= 100].sort_values('number_of_reviews', ascending=False)
new_stats = zero_availability[['host_name','number_of_reviews']].head(5)
display(new_stats)
new_stats.plot.area(x='host_name', y='number_of_reviews',stacked=False)

#Wanda from Brooklyn has zero availability with a review count of 480

             host_name  number_of_reviews
471              Wanda                480
9974   Gurpreet  Singh                424
9976   Gurpreet  Singh                408
22104          Deloris                368
5876          Veronica                351

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [68]:
# What host has the highest total of prices and where are they located    

#Sonder (NYC) has the highest total of prices and they are located in the Financial District in Manhattan.
highest_prices_host_neighborhood = ab_nyc_2019.groupby(['host_id','host_name','neighbourhood','neighbourhood_group']).sum('price').round(0).sort_values('price', ascending=False).head(5).sort_values('host_id').reset_index()[[
    'host_name',
    'host_id',
    'host_name',
    'neighbourhood',
    'neighbourhood_group'
    ]
    ]
highest_prices_host_neighborhood

,host_name,host_id,host_name,neighbourhood,neighbourhood_group
0,Henry,836168,Henry,Upper West Side,Manhattan
1,Jessica,1177497,Jessica,Clinton Hill,Brooklyn
2,Kathrine,20582832,Kathrine,Astoria,Queens
3,Red Awning,205031545,Red Awning,Midtown,Manhattan
4,Sonder (NYC),219517861,Sonder (NYC),Financial District,Manhattan

In [57]:
# When did Danielle from Queens last receive a review?
daniel = ab_nyc_2019['host_name'] == 'Danielle'
queens = ab_nyc_2019['neighbourhood_group'] == 'Queens'
ab_nyc_2019[daniel & queens].sort_values('last_review', ascending=False)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
22469,18173787,Cute Tiny Room Family Home by LGA NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76380,-73.87238,Private room,48,1,436,2019-07-08,16.03,5,337
21517,17222454,Sun Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76367,-73.87088,Private room,48,1,417,2019-07-07,14.36,5,338
20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76335,-73.87007,Private room,48,1,510,2019-07-06,16.22,5,341
22068,17754072,Bed in Family Home Near LGA Airport,26432133,Danielle,Queens,East Elmhurst,40.76389,-73.87155,Shared room,38,1,224,2019-07-06,7.96,5,80
7086,5115372,Comfy Room Family Home LGA Airport NO CLEANING...,26432133,Danielle,Queens,East Elmhurst,40.76374,-73.87103,Private room,54,1,430,2019-07-03,13.45,5,347
33861,26814763,One bedroom with full bed / 1 stop from Manhattan,201647469,Danielle,Queens,Long Island City,40.74565,-73.94699,Private room,108,2,13,2019-06-20,1.74,1,333
27021,21386105,Quiet & clean 1br haven with balcony near the ...,154256662,Danielle,Queens,Astoria,40.77134,-73.92424,Entire home/apt,250,3,1,2018-01-02,0.05,1,180

## Further Questions

1. Which host has the most listings?

In [67]:
ttl_host_listings = ab_nyc_2019.groupby(['host_id','host_name'],as_index=False).sum(
    'calculated_host_listings_count').sort_values('calculated_host_listings_count', ascending=False).head(5)[[
        'host_id','host_name','calculated_host_listings_count']]
ttl_host_listings

#Sonder (NYC) has the most listings at 67,689

         host_id          host_name  calculated_host_listings_count
28206  219517861       Sonder (NYC)                           67689
20808   61391963  Corporate Housing                            7189
23863  107434423         Blueground                            6496
12011   16098958     Jeremy & Laura                            5856
25210  137358866             Kazuya                            5253

2. How many listings have completely open availability?

In [56]:
ab_nyc_2019[ab_nyc_2019['availability_365'] == 365].count()

# 66 listings

id                                841
name                              841
host_id                           841
host_name                         841
neighbourhood_group               841
neighbourhood                     841
latitude                          841
longitude                         841
room_type                         841
price                             841
minimum_nights                    841
number_of_reviews                 841
last_review                       841
reviews_per_month                 841
calculated_host_listings_count    841
availability_365                  841
dtype: int64

3. What room_types have the highest review numbers?

In [54]:
display(ab_nyc_2019.groupby(['room_type', 'number_of_reviews']).sum('number_of_reviews')[['id']])
#The room type 'Entire home/apt'

                                            id
room_type       number_of_reviews
Entire home/apt 1                  53460747323
                2                  36708265346
                3                  27195819297
                4                  22823050965
                5                  17933288106
...                                        ...
Shared room     225                    2774934
                228                   13971471
                229                    1928961
                236                    6196354
                454                     467634

[801 rows x 1 columns]

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please describe them here.

- Manhattan is the most popular borough. 
- The Max price shown is 10k for two hosts, leading the thinking that AirBnb has a max charge/per night
- Approximately 10k units do not have reviews and the data was removed from most of the study
- Gurpree Singh has the most cumulative reviews for all his properties & Wanda from Brooklyn has the highest reviews for a single unit 
- The top three hosts are not privately owned, they appear to be businesses.